[2014-11-14 01:28] craigpatten opened #1 "Register for ANDS Cite My Data"
Register for test access to ANDS Cite My Data.

Use shared secret authentication and leave IP addresses unspecified.

http://ands.org.au/services/cmd-technical-document.pdf

[2014-11-14 01:33] craigpatten opened #2 "Generate ACAD MyTardis/Django schema and upload sample of existing data"
Kick the tyres of MyTardis &mdash; see how happy it is with ACAD workflow/metadata structure.

@franksc may have already looked into this?

[2014-11-14 01:37] craigpatten opened #3 "Evaluate HCP object storage vs custom REST API for storage"

[2014-11-14 01:39] craigpatten opened #4 "Storage with MyTardis/Django: go inline or interact directly with external object storage?"
There will be reasonably large files pumped in and out of the system. Pushing these directly through MyTardis/Django may not be the most appropriate solution.

[2014-11-14 01:41] craigpatten opened #5 "Customise MyTardis Dataset view"
Displaying ACAD metadata &mdash; how does the default layout (if any) differ from what is desired?

[2014-11-14 01:43] craigpatten opened #6 "Setup and evaluate MyTardis search"
https://mytardis.readthedocs.org/en/latest/searchsetup.html

[2014-11-14 01:45] craigpatten opened #7 "ACAD object storage - direct access mechanism"
(assuming some form of object storage is used)

Ensure there exists a simple mechanism for ACAD people to directly interact with the chosen storage solution(s).

[2014-11-14 01:48] craigpatten opened #8 "Ongoing record management - insertion, modification, etc."
Initial bulk data upload is of course not the only use case; investigate the mechanism for ongoing management of data &mdash; insertion, modification, etc.

Evaluate impact on DOIs, specifically regarding the immutability of published data.

[2014-11-27 04:34] millercathy opened #9 "Deployment infrastructure"

[2014-12-02 23:38] #1 closed, assigned to nobody

[2014-12-02 23:38] millercathy opened #10 "'Experiment' level DOI minting"

[2014-12-02 23:39] millercathy opened #11 "Determine metadata source(s) for DOI minting at dataset level"

[2014-12-02 23:40] millercathy opened #12 "Implement DOI minting at dataset level"
Metadata to be determined - see #11

[2014-12-02 23:41] millercathy opened #13 "Test 'Dataset' level DOI minting"
Metadata to be determined - see #11
Functionality to be implemented - see #12

[2014-12-03 00:11] millercathy opened #14 "Add Source/Sample detail view"
@franksc Need to firm this up in doco

[2014-12-03 00:13] millercathy opened #15 "Add Source index view"

[2014-12-05 03:13] franksc opened #16 "Secure authentication for dev/test VMs"
Re #9 – development VM and any other VMs/MyTardis installs used for development and testing need to be behind username/password authentication.

I.e. first time in a session someone visits http://[development VM IP] –> need to enter username/password

One username/password combo, to be shared among the project team, should be enough.

[2014-12-05 03:59] craigpatten opened #17 "Test dummy DOI generation with MyTardis → ANDS Cite My Data"
Credentials provided separately.

[2014-12-09 00:00] franksc opened #18 "Model experiment authors as standalone entities"
Experiments in MyTardis have one or more associated authors. Author names/details are recorded in association to a particular experiment (in Author_Experiment table, which has a foreign key relationship to Experiment) rather than independently, so if Author A is associated with five experiments you end up with five probably identical Author A records.

Also, author names are recorded in Author_Exp

[2014-12-09 06:04] franksc opened #19 "Extend DOI minting template to include additional metadata"
The [MyTardis template](https://github.com/mytardis/mytardis/blob/master/tardis/tardis_portal/templates/tardis_portal/doi/default.xml) used to generate an XML document using the DataCite metadata schema for passing to Cite My Data in minting a DOI implements only the DataCite mandatory elements title, creators, publisher and publication year.

[DataCite](http://dx.doi.org/10.5438/0010) (p. 5) reco

[2014-12-10 23:27] #17 closed, assigned to Li-ReDBox

[2014-12-11 01:52] craigpatten opened #20 "test issue: ignore"
xyzzy

[2014-12-11 01:52] #20 closed, assigned to craigpatten

[2014-12-14 23:44] franksc opened #21 "Experiments and datasets should be immutable once DOI minted"
Once a DOI is minted for an experiment or dataset it needs to be immutable – included data files or datasets can't be added or removed, and metadata that informs citation (title/name, creators, publication year etc) can't be modified.

The MyTardis Experiment and Dataset models have Boolean fields 'locked' and 'immutable' respectively (not sure why the names aren't consistent). However, some quick

[2014-12-18 04:43] franksc opened #22 "Batch ingest script functionality"
ACAD have okayed the idea of ingesting data into MyTardis by running a batch ingest script from the command line to slurp in data files from local storage and use the MyTardis REST API to create a new experiment/dataset hierarchy and populate with data files. (Usually they will be running from their RDSI machine as that's where their data files are stored, although it could be used to ingest strai

[2014-12-19 00:31] #9 closed, assigned to craigpatten

[2014-12-22 00:57] #2 closed, assigned to franksc

[2014-12-23 06:46] franksc opened #23 "Experiment model needs 'publication year' field"
Currently MyTardis just uses the current year as the value for DataCite element publicationYear in minting DOIs.

However, the DataCite schema indicates the value for publicationYear should be the 'year when the data was or will be made publicly available'. This may not be the current year at the time the DOI is being minted if an experiment is initially made publicly visible with metadata only, w

[2015-01-05 02:14] franksc commented on #10
Re #12 – when a DOI is minted for an experiment this should trigger the minting of a DOI for each dataset in the experiment that does not already have a DOI recorded.

Where a dataset already has a DOI recorded, probably because it is also part of another experiment that has been previously published, a second DOI should not be minted.

[2015-01-05 23:23] franksc opened #24 "Ingest metadata from Excel source file"
We need a means to populate the models implemented in #2 with provenance and pipeline metadata relating to ingested datasets. ACAD have indicated their preferred option would be to load a source/template file such as a CSV or Excel doc containing this metadata.

An Excel document would seem preferable to a CSV as it allows for multiple sheets/tabs representing different metadata categories (Source

[2015-01-07 05:09] franksc opened #25 "Open VCF, BAM files in external genome browser"
Discussion with an SA medical researcher has highlighted the desirability of the ability to open VCF or BAM files in an external web-based genome browser.

The popular [UCSC Genome Browser](http://genome.ucsc.edu/) (there is an [Aus mirror](https://ucsc.genome.edu.au/)) allows for externally hosted data files to opened using a URL like ```http://genome.ucsc.edu/cgi-bin/hgTracks?org=human&position=

[2015-01-08 01:36] franksc commented on #24
We can take advantage of the (intentional) correlation between element names in the source Excel spreadsheet and field names in the Django models by extracting the element names and values into a Python dictionary (e.g. ```dict = {'id': 'Source1234', 'date': '1990-01-01', 'age_cat': 'adult'}```) and passing this dictionary as keyword arguments when creating a new Django object of the corresponding

[2015-01-12 02:17] franksc commented on #24
Commit 283ef25b2d546739f5d1a4314c6111b51f0429e9: Have reworked this to read data from Excel source and return a JSON representation suitable for passing to Django's serializers.deserialize(), rather creating new objects directly.

Using this method the '_id' trick described above for setting foreign keys is not necessary.

[2015-01-12 15:50] craigpatten commented on #16
✅

(sensitive details will be disseminated separately)

[2015-01-12 15:50] #16 closed

[2015-01-19 04:13] Li-ReDBox commented on #10
https://github.com/modc08/mytardis/commit/452bd3e762f38a5acce17502412ec9a1e3e8f47c has the basic code to mint included datasets which do not have DOI yet.

[2015-01-19 04:22] Li-ReDBox commented on #21
Some changes have been made: https://github.com/modc08/mytardis/commit/8440e3bf2b1411f0ca547a28f4e7de54ac28675b
Currently, once owner of experiment or admin goes to admin interface, check the "Locked" checkbox, "Edit Experiment", "Sharing/Change public access" are disabled.

Another option is to update this property once an experiment has been minted.

The commited UI code might need more checks t

[2015-01-19 04:35] Li-ReDBox commented on #12
https://github.com/modc08/mytardis/commit/030c157915caf200489889068dcbdb878a1a83a2

When DOI was successfully minted, __immutable__ of the dataset is set, mytardis' existing code disables editing interfaces: adding files, editing dataset

Currently, the function is implemented in editing function with an extra form property: *publish*. When editing a dataset, if *publish* is checked, saving will m

[2015-01-19 05:05] Li-ReDBox commented on #23
Question: does __pulication year__ have any relationship with end_time?

[2015-01-19 22:32] craigpatten commented on #4
The s3boto module of [django-storages](http://django-storages.readthedocs.org) is talking to the HCP object store just fine, however the ingest of large objects is a potential issue. Will investigate pushing objects into HCP directly and using [this mechanism](https://groups.google.com/d/msg/tardis-devel/wBAyHyz6HuU/8jzo2OUfDiQJ) for notifying MT about the location.

[2015-01-20 23:25] franksc commented on #23
@Li-ReDBox No – I think MyTardis' start_time, end_time, and created_time are meant to record dates/times when the actual experiment/research activity was conducted. (Although not sure how the end user is meant to set/edit these fields ...)

We want publication_year to be just a four-digit year (YYYY) to record when the data files associated with the experiment/datasets are being made publicly avai

[2015-01-21 01:53] franksc commented on #10
Testing:

When an experiment is set to public:
- [x] DOI is minted

For each child dataset of experiment:
- [ ] DOI is minted – __minted and recorded against dataset, but not showing in dataset view__
- [x] ... unless dataset already has a DOI (from being part of previously published experiment)

[2015-01-21 02:00] franksc commented on #21
Testing:

When an experiment is set to public, and DOI minted:
- [ ] experiment is set to immutable/read-only – __doesn't happen__

When an experiment is set to immutable (I just did this manually via Django admin interface):
- [x] can't edit experiment metadata
- [ ] can't add datasets – __add datasets button not displayed so can't create and add new datasets, but can still select Transfer Datase

[2015-01-21 02:16] franksc commented on #12
See https://github.com/modc08/modc08/issues/10#issuecomment-70771350 re making an experiment public triggering DOI minting for child datasets

[2015-01-21 02:16] franksc commented on #12
Re #11: Minting DOI for a dataset should for the DataCite 'title' field use the value of Dataset.description, but per https://github.com/modc08/mytardis/blob/develop-doi/tardis/tardis_portal/ands_doi.py#L198 it is currently using ```ex.title``` i.e. the title of the parent experiment. Should be ```self.obj.description``` I think

[2015-01-21 02:32] #11 closed

[2015-01-21 04:48] franksc opened #26 "Publication identifiers display linked via appropriate resolution service"
A number of fields in the MODC08 metadata schema will contain publication identifiers such as a DOI or PubMed ID to refer to a research article or other publication -- or alternatively a full HTTP URL.

These should display in the frontend linked to the publication via appropriate resolution service, or just an active link if a full HTTP URL:

Publication ID | URL
----|----
doi:10.1234/5678 | http

[2015-01-21 05:40] franksc opened #27 "Provide 'tombstone' pages for removed data"
DataCite [recommends](http://dx.doi.org/10.5438/0007) (p. 7) that where data is removed from public availability, a DOI minted for it should resolve to a 'tombstone' page advising why the data is no longer available.

Ideally we will never need to remove any data, but we need to support:

- removing published data from public availability
- providing a tombstone page for this data (needs to advise

[2015-01-21 23:11] franksc opened #28 "Update MyTardis licence fixtures"
Once a decision is made on what licence option/s (there may only be one) will be available for MODC08 data, need to update the ['out of the box' MyTardis licence fixtures](https://github.com/modc08/mytardis/blob/modc08/tardis/tardis_portal/fixtures/cc_licenses.json).

[2015-01-21 23:35] franksc commented on #27
Thinking about this some more, I'm not sure there is need to maintain separate pages to provide 'tombstone' information for withdrawn collections. [Griffith's DOI guidelines](http://ands.org.au/cite-data/griffith_doi_guidelines-4.pdf) (v2.0, p. 6) indicate when a collection has been withdrawn the landing page to which its DOI resolves should be updated to reference the withdraw material – no sugge

[2015-01-22 22:14] franksc opened #29 "Display citation block in experiment and dataset views"
Experiment and dataset views should display a citation block following this format:

Creator1; Creator2 (PublicationYear): Title. Publisher. ResourceType. Identifier

e.g.
Llamas, Bastian; Haak, Wolfgang (2014): _Awesome ancient human DNA experiment_. Australian Centre for Ancient DNA, University of Adelaide. Collection. http://dx.doi.org/10.5072/1234

MyTardis wants author names stored as 'Firstn

[2015-01-23 01:37] Li-ReDBox commented on #19
I followed the link and found an XML example:http://schema.datacite.org/meta/kernel-3/example/datacite-example-full-v3.1.xml which has rights inside rightsList. Could @franksc or any one confirm which should I use? Thanks.

[2015-01-23 01:45] Li-ReDBox commented on #19
Question:  if we use resourcetype, does that mean dataset's xml needs to be exteded too? If so, does dataset use fields in experiment if it does not have them? For example, description and license.

[2015-01-23 06:41] Li-ReDBox commented on #23
publication_year added by https://github.com/modc08/mytardis/commit/bcb11d9efb3e16e246ce8284fa722bee35139925

[2015-01-24 22:26] franksc commented on #19
@Li-ReDBox see branch 'doi-template' for some preliminary work on this (NB not tested)

As this is flagged as only an enhancement request rather than a requirement, can we 'park it' temporarily while I write up a more detailed list of stuff to implement.

[2015-01-26 23:24] franksc commented on #13
Closing this as testing of dataset-level minting is being annotated in issues #12 and #10

[2015-01-26 23:24] #13 closed

[2015-01-27 00:38] craigpatten commented on #7
A draft script for interacting with the HCP has been [implemented](https://github.com/modc08/store).

This needs to be extended to encompass all desired modes of interaction &mdash; downloading, etc.

[2015-01-27 00:38] franksc commented on #21
Testing 27 Jan from vm-develop-doi-20150127-092720:

- [x] when DOI minted, experiment is set to immutable/read-only
- [ ] when experiment locked, can still drag/drop datasets via Transfer Datasets – __still needs fixing__

[2015-01-27 00:50] franksc commented on #23
Testing:

- [x] experiment field publication_year has default value of current year at time of object creation
- [x] field can be edited via 'Edit Experiment'
    - [x] can only edit to a four-digit year
- [ ] DOI minting uses value of publication_year – __appears implemented in modc08/mytardis@bcb11d9efb3e16e246ce8284fa722bee35139925 but need to verify__
- [x] can't edit field once DOI minted/set

[2015-01-27 02:04] franksc opened #30 "Add delete experiment/dataset/file functionality"
Discussion with ACAD has confirmed we need functionality to delete experiments, datasets and files via the MyTardis web frontend, rather than dropping into the Django admin backend.

We want:

- In Experiment view, a button 'Delete Experiment' which deletes the experiment
    - Should not display if experiment is set to immutable
- In Dataset view, a button 'Delete Dataset' which deletes the datas

[2015-01-29 12:13] craigpatten commented on #3
✅

[2015-01-29 12:13] #3 closed

[2015-01-29 12:34] craigpatten opened #31 "Verify large object download capability"
If MyTardis wants to perform django-storages object downloads via temporary buffering on the VM (whether in RAM or disk) then it will fail for arbitrarily large objects.

We need to ensure that data is streamed or generate direct object URLs.

Also need to verify generation of tar files.

[2015-01-29 12:35] craigpatten commented on #4
The [HCP documentation](http://www.hds.com/assets/pdf/hitachi-content-platform-release-notes.pdf) claims the maximum object size is 2TB. I tried pushing an 80GB file (because I ran out of time to try anything larger) and it worked fine.

Uploading occurs via a streaming mechanism that requires a constant amount of client RAM, independent of the file size. Issue #31 tracks download capability.

[2015-01-29 12:35] #4 closed

[2015-01-29 12:36] craigpatten commented on #7
Folding this into #22.

[2015-01-29 12:36] #7 closed

[2015-01-29 12:59] craigpatten opened #32 "Taking an authorless experiment public fails with unhelpful error"
I realised why some DOI mintings would fail with an internal server error &mdash; it is because an empty author field will lead to a schema validation error. For example:

[code]

Perhaps it would be nice to disable minting unless the required fields are present?

cc @millercathy @franksc

[2015-01-29 13:18] craigpatten commented on #31
I tried downloading a 2GB object using a URL of the form

[code]

It looks like MyTardis is buffering the object in RAM, before pushing it out to the client. In this case the client got sick of waiting and disconnected, however MT continued to hoist the object into RAM before throwing it away and letting GC take the memory usage back to a reasonable level. Here is the memory usage at its peak:

[c

[2015-01-29 20:58] millercathy commented on #32
@craigpatten Thanks, Craig. Yes! Can we absolutely disable minting unless minimum metadata is present. Cc @franksc

[2015-01-30 02:18] Li-ReDBox commented on #21
@franksc, I made changes to remove "Transfer Datasets" if experiment has previously published. During the process, if user does not reload page, "Transfer Datasets" will not disapper because page structure is kept and only ajax call to reload existing tabs. So when user clicks on that tab, updated state will be showing a message: You do not currently own any other experiments or this experiment is

[2015-01-30 03:51] Li-ReDBox commented on #32
Author has a foreign key points to experiment and this relationship is reenforced through UI. When you create/edit an experiment on the web form, without author, you can not save it. I reckon this issue happens when experiment is created in batch mode in which case, author which should be a required field missed, aka, schema is not enforced.

[2015-01-30 04:00] Li-ReDBox commented on #12
Dataset's description is used as its title when it is being minted: https://github.com/modc08/mytardis/commit/6750ee3ac149a9c78bbbcb0e4c0372b34f595360

[2015-01-30 05:59] franksc commented on #23
Tested 30 Jan vm-develop-doi-20150130-155609:

- [x] DOI minting uses value of publication_year

Tested by tweaking ands_doi.py to log the XML it generates and sends to Cite My Data, setting an experiment's publication year to a future year, making experiment public to trigger DOI minting and examining the generated XML.

[2015-01-30 05:59] #23 closed

[2015-01-30 06:01] franksc commented on #12
Tested 30 Jan vm-develop-doi-20150130-155609:
- [x] Dataset's description is used as its title when it is being minted

[2015-01-30 06:05] Li-ReDBox commented on #12
#### FYI:
Re my previous comment:
_When DOI was successfully minted, immutable of the dataset is set, mytardis' existing code disables editing interfaces: adding files, editing dataset_

dataset_write_perm checks if __immutable__ attribute is set: https://github.com/modc08/mytardis/blob/modc08/tardis/tardis_portal/auth/decorators.py#L126

In contrast, experiment_write_perm does not check __locked_

[2015-01-30 06:11] franksc commented on #21
Sounds good to me @Li-ReDBox – have tested and this works as you described.

[2015-01-30 06:11] #21 closed

[2015-01-30 06:12] millercathy commented on #28
@franksc We can make a call on this now, yes?

[2015-02-01 23:44] franksc commented on #5
Dataset view needs to display its DOI if recorded in an associated parameter set – can probably adapt this from experiment view.

[2015-02-01 23:45] franksc commented on #10
Closing this as minted DOIs are definitely being recorded against datasets – dataset view to be extended to display DOIs as part of #5.

[2015-02-01 23:45] #10 closed

[2015-02-02 02:05] franksc commented on #24
The state of play:

- We have (cf. #2) models/tables for ACAD provenance and pipeline metadata records (Source, Sample, Extract etc), integrated into MyTardis and ready to receive data.

- We have an Excel template that ACAD will be using to record metadata associated with their datasets, with multiple sheets/tabs containing different record types (Source, Sample etc).

    - There is no fixed set

[2015-02-02 23:36] franksc commented on #24
A possible solution:

- When globbing files within a dataset directory to upload to MyTardis, ingest script to look for (say) Excel file metadata.xlsx and use ReadFromExcel class to extract ACAD-model metadata in JSON format (NB we don't need to upload this file)

- POST this ACAD-model metadata along with MyTardis id of recently created new dataset to a new MyTardis API endpoint e.g. /api/v1/acad

[2015-02-03 01:37] franksc commented on #14
A basic source/sample view is [prototyped](https://github.com/modc08/mytardis/blob/0d3ed1a6fc1168875440155983cf1eab832df551/tardis/apps/acad/templates/source/detail.html) in MyTardis 'views' branch – it shows metadata about a sample and then a tabular view of all samples derived from the source.

[2015-02-03 04:18] franksc commented on #27
As discussed 30 Jan: withdrawing/tombstoning a published experiment will be achieved by manually deleting data files and editing description field to advise reason for withdrawal, using the Django admin backend. (This is one of the rare scenarios in which using the backend admin is justified.)

Closing this issue as nothing to implement.

[2015-02-03 04:18] #27 closed

[2015-02-03 05:13] franksc commented on #22
To be implemented/changed:

- Remove option to set institution of experiment – we always want to use the default value (defined in MyTardis' settings.py)
- Option to delete files from local storage once successfully ingested into object store
- Option to set authors of experiment – I suspect this will require some extended handling on the MyTardis API side as author names are recorded in Author_Ex

[2015-02-03 06:00] franksc commented on #30
Ideally 'deleting a file' will both delete representations of the file in MyTardis and, if it can be determined the only/last remaining representation of the file was just deleted, also interact with the storage layer to delete the file/object there too. (Otherwise a file could be totally removed from MyTardis yet remain sitting on the storage taking up space.)

@craigpatten

[2015-02-03 23:12] franksc commented on #28
In MyTardis branch 'licences' have:
- edited Creative Commons licence fixtures to use only CC BY 4.0 (modc08/mytardis@533df8eb4c0f62c22a3273040aa60bc3168628ab)
- removed the licence legal text display (this was just displaying 'lorem ipsum' placeholder text – presumably not fully implemented by MyTardis devs) and tweaked wording of licence info block to indicate both experiment data and metadata i

[2015-02-03 23:12] #28 closed

[2015-02-03 23:44] millercathy commented on #6
Hi @shundezhang - in the first instance can you please set up the search as per the link above, and evaluate the MyTardis search functionality?

Going back to the original essential requirements that we used to evaluate different systems, can you please consider and advise to what extent MyTardis supports the following?
* Users can search by keyword terms across all metadata fields (i.e. basic sea

[2015-02-04 00:54] shundezhang commented on #6
Hi @millercathy The search function comes from MyTardis can only search on basic experiment data fields, and can't search on dataset fields.  You can try it on http://vm-views-20150202-155450.modc08.ersa.edu.au/experiment/search/

Extra things may need further development.
In MyTardis document solr 1.4 is used but it is very old. We may need to check with the developer to see if a newer version ca

[2015-02-04 01:12] millercathy commented on #6
Thanks @shundezhang
So there is clearly a swag of further development required. I think we create these as separate issues. @franksc and I will do this.
@franksc I am going to assign this issue over to you. If there is further investigation required then it can stay open (e..g on solr version) and then close when you're ready.
Cheers.

[2015-02-04 01:49] millercathy commented on #5
Hi @Li-ReDBox
This tasks goes in tandem with #14

Summary is as follows: @franksc correct me if I'm wrong!
*The Dataset view will display pipeline metadata including from the: Extract / Library / Sequence / Processing / Analysis tables
*It is possible for multiple pipelines to form a Dataset, i.e. there may be multiple 'sets' of Extract / Library / Sequence / Processing metadata and each 'set' or

[2015-02-04 03:42] millercathy commented on #14
Hi @Li-ReDBox
This issue is about creating a new view in MyTardis.
Each Source represented in the pipeline metadata shall have it's own page or view, where the metadata from the Source table is presented.
Below the Source metadata, the user will be able to view Samples derived from the Source. Because it is possible to have more than one Sample from a Source, there shall be tabs representing indiv

[2015-02-04 04:30] shundezhang commented on #6
After some more research I found that the solr search function in mytardis is currently broken. Solr is used to offer free-text search, like what google has, a single text box and let users enter anything. It comes from Mecat project (https://groups.google.com/forum/#!searchin/tardis-devel/solr/tardis-devel/9Sw9OaELjT8/Hao_cA7TnhgJ). My feeling is mytardis developers don't want to include that in

[2015-02-04 04:39] franksc commented on #8
Delete functionality will be implemented in #30.

Experiment and dataset metdata (title, authors etc) can be edited via MyTardis frontend until DOI is minted and resource is set to locked/immutable.

As under current workflow ACAD provenance/pipeline metadata is provided by way of ingesting from an external source file rather than directly entering through frontend, there is presently no frontend

[2015-02-04 05:29] franksc commented on #8
Django's [default update-or-insert behaviour](https://docs.djangoproject.com/en/1.5/ref/models/instances/#how-django-knows-to-update-vs-insert) means if an attempt is made to save a record where one with the same primary key already exists, the existing record will be updated from the values of the new one. So if Bastien ingests a dataset with ACAD metadata including a Source record with pk=1234,

[2015-02-04 05:34] millercathy commented on #8
@franksc This is on our agenda for our meeting this Friday 6/2 (not that question specifically but we can include it in the discussion)... I'd suggest option 2 above but let's confirm Friday?

[2015-02-04 05:52] millercathy commented on #15
In the first instance can we please implement functionality such that users can:
*Browse a list of Sources organised alphabetically by title... with each source linking to the Source view as outlined in #14
*Browse a map where each Source is pinned/marked as identified by geoloc_lat and geoloc_long fields

[2015-02-04 05:54] millercathy commented on #26
@franksc are these fields defined in the pipeline metadata? Or Experiment metadata?

[2015-02-04 06:08] millercathy commented on #29
Hey @Li-ReDBox
Can a citation appear on each experiment and dataset as outlined above? This isn't shown in the mockups attached to #5. It can appear as 'Please cite this resources as: citation'.
Please note that @franksc is working on reversing name order in #19

[2015-02-04 06:16] millercathy commented on #25
Confirming that @craigpatten agreed we can get URLs in our meeting on Friday 30/1 - we need to nominate a time for these to remain valid so that they can be viewed in an external browser. What is the default?
@Li-ReDBox will assign this over to you but conscious that we need to get a bit more info to you. In the meantime can you explore?

[2015-02-04 06:18] franksc commented on #15
@Li-ReDBox have a look at prototype view [here](https://github.com/modc08/mytardis/blob/0d3ed1a6fc1168875440155983cf1eab832df551/tardis/apps/acad/templates/source/index.html) in 'views' branch

The map stuff (using [Leaflet](http://leafletjs.com)) is commented out as it was rendering okay (I think) but not displaying on page – maybe some conflict with the MyTardis template CSS you can figure out .

[2015-02-04 23:20] franksc commented on #19
MyTardis records author names (in Author_Experiment table) as 'Firstname Lastname', but DataCite schema says creator names should be in form 'Lastname, Firstname'.

Commit modc08/mytardis@80c54f32e93bd508b5cb75888a5d6353fc03fdc4 implements inverting author names as recorded in MyTardis to the DataCite-preferred format in minting DOIs.

It will correctly handle John Smith, John Q. Smith and John Qu

[2015-02-04 23:22] Li-ReDBox commented on #29
I am not sure if I have missed anything which happend a bit, I did not find citation section in mock-up in #5. But I will start working on backend code now.

[2015-02-04 23:28] Li-ReDBox commented on #19
Author is a free text field, the only existing rule is to have comma separting authors and urls.

[2015-02-04 23:30] millercathy commented on #19
Thanks @franksc
This is great... but I think we need to account for these multiple word surnames. This raises the importance of enhancement #18
Can you check with Steve and/or Grischa how others are approaching before we discuss with @craigpatten about the feasibility of #18 ? Cc @Li-ReDBox

[2015-02-04 23:33] millercathy commented on #29
Hi @Li-ReDBox - no you haven't missed anything! The citation section is NOT shown in the mock-up. We overlooked it when those mock-ups were produced.
Thanks

[2015-02-05 02:15] Li-ReDBox commented on #29
Hi, I need clarification of dataset's _chronologically earliest parent experiment ex_. Is this referring to *Start time* or *Publication year*?
Thanks

[2015-02-05 02:58] millercathy commented on #29
Hi @Li-ReDBox that refers to the first experiment that the dataset is included in. Because datasets can belong to multiple experiments, they will only get one DOI and one citation when they are first minted with the first experiment. The dataset adopts the publication year from the experiment metadata the first time it is published. Thereafter the DOI and citation information will not change. Does

[2015-02-05 03:23] Li-ReDBox commented on #29
If that is the case, it should be fine. I just checked, it is the method used to find out which parent experiment is to use when a dataset is minted. Which is good.

Could it be possible that, a dataset has been attached to multiple experiments, and user decides to mint an experiment which is not the earliset created one? If this is the case, minting code has to be changed and this relationship ha

[2015-02-05 03:33] millercathy commented on #29
It is possible that an experiment is created but not published and a subsequent experiment containing a duplicate dataset is minted in the interim... @franksc This shouldn't present a problem, should it? Because the DOI metadata is created at point of minting? Can @franksc confirm? Thanks!

[2015-02-05 03:45] franksc commented on #26
Pipeline metadata, in fields Extract.protocol_ref and Library.protocol_ref .

If we need to linkify publication ids that appear as part of a larger block of text, such as an experiment's description field, this will require more advanced handling than in example implementation modc08/mytardis@af558d7fce933bd6332216b9ca1f2cd49d5f2b56 which just defines a Django filter you can wrap around text you k

[2015-02-05 03:52] millercathy commented on #26
Hi @Li-ReDBox So these two fields mentioned in @franksc 's comment above are the ones that contain links which need to be resolvable.

[2015-02-05 04:04] Li-ReDBox commented on #29
Q: should author_url be included?

[2015-02-05 04:06] millercathy commented on #29
@Li-ReDBox No
@franksc What's our source for citation format?

[2015-02-05 04:14] franksc commented on #29
[DataCite metadata schema v3.1](http://dx.doi.org/10.5438/0010), p. 7 'Citation'. Although this is just DataCite's recommended format, so we don't necessarily have to follow it exactly ...

[2015-02-05 22:33] Li-ReDBox commented on #26
Is this the real link of above mentioned, @franksc? https://github.com/modc08/modc08/commit/af558d7fce933bd6332216b9ca1f2cd49d5f2b56. The above one returns 404.

[2015-02-05 23:05] Li-ReDBox commented on #26
Just a reminder to myself: will finish this task when Pipeline metadata has been worked, so DOI and other handlers will be dealt at the same time.

[2015-02-06 00:37] franksc commented on #26
Ooops; fixed.

[2015-02-06 00:38] millercathy commented on #26
Like

[2015-02-06 01:02] millercathy commented on #18
@craigpatten Just a heads up - we plan to talk about this and #19 regarding how author names are captured/sent to DataCite with you on Tuesday 10/2 - Need to make a call on this Enhancement soon as #29 is also dependent on outcome.

[2015-02-06 01:06] millercathy commented on #6
Hi @shundezhang and @craigpatten
I am about to document search tasks separately... they are all dependent on deciding what search backend we need to meet these requirements.
Can you look at the requirements which will be linked to this issue and use this task to track advice/decision on the search backend - and implementation of that backend. Thanks.

[2015-02-06 01:10] Li-ReDBox commented on #5
@franksc, do we have models of Extract / Library / Sequence / Processing? Is my task to merge your code in and then add more functions?

[2015-02-06 01:14] millercathy opened #33 "Extend search to all metadata"
This task is dependent on decision and implementation arising from #6
The search functionality should be extend to incorporate searching across all pipeline metadata, i.e. Experiment metadata and fields in the Source, Sample, Extract, Library, Sequence, Processing and Analysis tables.

[2015-02-06 01:16] millercathy opened #34 "Add basic keyword search box"
This task is dependent on decision and implementation of #6 and also #33.
Search functionality should be extended to allow searching across all metadata and a basic keyword search box should be added to the search form.

[2015-02-06 01:18] shundezhang commented on #33
@millercathy would you prefer google-like search (one single search box to search everything) or form-based search (like what synchrotron has)?

[2015-02-06 01:19] millercathy opened #35 "Customise advanced search"
Customise advanced search form and search functionality to encompass drop down search options for specific fields with defined terms.
@franksc to identify which fields these are (from metadata schema).

[2015-02-06 01:19] millercathy commented on #35
This tasks is dependent on #6

[2015-02-06 01:19] millercathy commented on #33
Both. See also #35
Thanks! @shundezhang

[2015-02-06 01:22] millercathy opened #36 "Metadata downloads with files"
Hi @franksc Do you have further info on this? Thanks.

[2015-02-06 01:24] millercathy opened #37 "Search results display"
Searching will encompass Experiments, Datasets & Source/Sample views - see #33
How will these different results be presented?
Further investigation required.
Cc @shundezhang

[2015-02-06 01:31] franksc commented on #37
Dependent on #6

[2015-02-06 02:03] franksc commented on #5
@Li-ReDBox see modc08/mytardis branch 'schematest' – this has models for Source, Sample, Extract etc as a separate Django app under tardis/apps/acad .

Branch 'views' builds on these models, and has a prototype of most of the combined source/sample view outlined in #14, plus an example of customising the MyTardis Dataset view to show some pipeline metadata via the relationship between the acad.ana

[2015-02-06 02:07] Li-ReDBox commented on #5
I found them, thanks @franksc

[2015-02-06 04:33] Li-ReDBox commented on #5
@franksc, I put branches view and schematest on top of modoc08, no error. I migrated models and loaded organism data. Just wondering if there are other data can be loaded? Or user has to create source, sample data var UI? Thanks

[2015-02-06 05:14] franksc commented on #22
ACAD have decided (during meeting on 6 Feb) that we do not require functionality to attach existing datasets to a newly created experiment through this batch ingest script – they are happy to do this through the existing MyTardis frontend functionality (Experiment - > Transfer Datasets -> drag'n'drop) as required.

[2015-02-06 05:15] craigpatten commented on #22
@franksc excellent

[2015-02-06 05:23] franksc commented on #5
@Li-ReDBox I will prepare another fixtures file containing some made-up but representative/sensible metadata for a complete pipeline from Source -> Analysis.

[2015-02-06 06:10] franksc commented on #32
Functionality in #22 to set authors in association with an experiment when creating via API/command line, if it can be achieved, should avoid the situation of experiments being created without any authors.

However, for the sake of completeness we should probably perform some basic validation of the metadata used to populate the DataCite template before attempting to mint a DOI (via supplying said

[2015-02-06 06:49] Li-ReDBox commented on #5
I have created a branch for this task: https://github.com/modc08/mytardis/tree/acad

[2015-02-06 23:02] franksc opened #38 "Author name handling (Firstname Lastname vs Lastname, Firstname)"
MyTardis records the names of authors in association with experiments in Author_Experiment.author . Author names are entered in direct order (Firstname Lastname) as comma-separated list ('Cathy Miller, Craig Patten, Jianfeng Li') when creating/editing an experiment, which is split at the commas to create entries in the Author_Experiment table for each author name in direct order.

We want author n

[2015-02-06 23:03] franksc commented on #19
Have moved discussion of author name handling to #38.

[2015-02-06 23:03] franksc commented on #29
Have moved discussion of author name handling to #38.

[2015-02-06 23:04] franksc commented on #18
Have moved discussion of author name handling to #38.

[2015-02-06 23:32] franksc commented on #8
Have discussed with Cathy and determined building MyTardis frontend forms/functionality to edit ACAD provenance/pipeline metadata is probably overkill.

Django's update-or-insert behaviour means it will be possible for ACAD to if necessary update existing metadata records by ingesting an Excel source file as detailed in #24. The Django admin backend is available should there be a burning need to f

[2015-02-06 23:32] #8 closed

[2015-02-07 02:43] franksc commented on #19
modc08/mytardis@32094ab065d5f0dd79ec65108b58440e21510acd extends DOI minting (experiment and dataset) to include resource type, description, rights url/name and sizes

[2015-02-09 01:32] craigpatten opened #39 "Stream individual objects from the object store"
As per #31.

[2015-02-09 01:33] craigpatten opened #40 "Generate streamed tar files from the object store."
As per #31.

[2015-02-09 01:33] craigpatten commented on #31
Work required: #39 #40.

[2015-02-09 01:33] #31 closed

[2015-02-09 03:12] franksc commented on #18
Work required to implement this:

- Implement new Author model + changes to MyTardis Author_Experiment and Experiment models
- Update MyTardis views/templates which retrieve author names from Author_Experiment table
- Update DOI minting (#19), citation display (#29) and any other functionality which needs to retrieve author names in inverted order
- Add 'add author' and 'edit author' forms to MyTa

[2015-02-09 22:57] millercathy commented on #30
Hi @Li-ReDBox can you treat this task as a priority when you get to the project work on Thursday, please?
We are aiming to resolve all milestone phase 2 tasks by end of week. Thank you.

[2015-02-09 23:08] Li-ReDBox commented on #30
no problems

[2015-02-09 23:16] millercathy commented on #37
@franksc sketch out mock ups for consideration by ACAD

[2015-02-10 00:03] millercathy commented on #38
After discussion this morning with @craigpatten agreed solution is as follows:
Change entry of name to MyTardis to inverted form i.e. Last Name, First Name.
Currently multiple authors are comma separated. Suggest alternative delimiters are used to indicate inversion of name AND separated authors. For example:
Miller, Cathy; Franks, Christopher; van den Berg, John
Last Name, First Name should there

[2015-02-10 00:04] millercathy commented on #18
Rejecting in favour of #38

[2015-02-10 00:04] #18 closed

[2015-02-10 00:29] #19 closed

[2015-02-10 03:12] franksc commented on #35
Fields taking a fixed set of options:
 - Source.gender, Source.age_cat, Source.geoloc_continent
 - Sample.sample_cat, Sample.env_package
 - Library.source, Library.layout, Library.type, Library.enrich_method, Library.enrich_target,

[2015-02-10 03:21] franksc commented on #36
To enhance reuse of data obtained via the MODC08 repository, a dataset downloaded as a tar/archive should include a file containing all pipeline/provenance metadata associated with the dataset.

@craigpatten re #40 this file will need to be inserted/included in the tar file also including files retrieved from the HCP

Metadata to be included:
- the Analysis record associated with the dataset
- All

[2015-02-10 05:14] franksc commented on #37
A random example ...

Let's say a hypothetical end user is really interested in ancient human skulls found in Africa, so in the single search box (cf. #34) they enter 'Africa skull'.

If the repository data contains:
- a Source 'Source1234' which has among other properties .geoloc_continent='africa' and .source_details='skull'
- an Experiment with title 'ACAD African skulls study'

we would expect

[2015-02-10 05:49] millercathy commented on #37
@franksc Sounds reasonable to me. Would any datasets derived from the source also be listed in the results? Or would the user simply browse to them from the returned Source?

[2015-02-12 01:38] franksc commented on #35
ACAD have indicated in previous discussions that they expect the majority of end users will want to search at the source/sample end of the pipeline. I think there is a need for an advanced search form/builder to support queries/query parameters such as:

- Continent = Africa (pick from a dropdown list of options for Source.geoloc_continent. This should support selecting one or more options)
- Orga

[2015-02-12 05:18] Li-ReDBox commented on #30
@franksc, in the request, it says:
_Separate to the 'X' which shows in dataset sidebar of experiment view, allowing you to unlink dataset from the experiment (doesn't delete dataset)_
I cannot find "X" on dataset sidebar. Do you have a screen shot? What am I missing?
Thanks

[2015-02-12 05:22] franksc commented on #30
![screen shot 2015-02-12 at 15 51 04](https://cloud.githubusercontent.com/assets/8837821/6162216/28fd2e98-b2cf-11e4-985a-82a001ad4202.png)

[2015-02-12 05:24] Li-ReDBox commented on #30
@franksc that is very clear and helpful. Many thanks

[2015-02-12 07:21] franksc commented on #34
In addition to simple keyword querying it is desirable for the single search box to support phrase querying, field-based querying, wildcarding, Booleans etc as provided by the search backend and its query syntax (e.g. the Lucene query syntax if we end up using a Lucene-based backend)

This will satisfy 'power users' with complex search requirements and/or a preference for directly entering their q

[2015-02-13 05:03] millercathy commented on #35
Hello, sorry for initial confusion.
@franksc can you please itemise below the fields with fixed set options for which we require a drop-down menu in the advanced search.
Thanks

[2015-02-13 06:39] Li-ReDBox commented on #30
First round of deletion has been done. Need more tests. https://github.com/modc08/mytardis/tree/del_assets

[2015-02-13 06:39] Li-ReDBox commented on #30
Also, files are left behind in storage

[2015-02-13 23:42] franksc commented on #30
Testing:

- In Experiment view, a button 'Delete Experiment' which deletes the experiment :white_check_mark:
    - Should not display if experiment is set to immutable :white_check_mark:
- In Dataset view, a button 'Delete Dataset' which deletes the dataset :white_check_mark:
    - Should not display if dataset is set to immutable :white_check_mark:
- In Dataset view in the files sidebar, a button

[2015-02-13 23:44] franksc commented on #30
@Li-ReDBox can you please liaise with @craigpatten if necessary to implement:
- Deleting a file will both delete representations of the file in MyTardis and, if it can be determined the only/last remaining representation of the file was just deleted, also interact with the storage layer to delete the file/object there too

[2015-02-16 00:41] Li-ReDBox commented on #30
@franksc, thanks for testing. Two commits:
https://github.com/modc08/mytardis/commit/fc61bef8b91ccad5f127330105a96b589aa1a845: Action to delete an immutable resource raise an exception
https://github.com/modc08/mytardis/commit/3a1e2c547316c4d583487a2e37575d3fddd4a3ab: Change display to include 'Can't delete

[2015-02-16 00:52] Li-ReDBox commented on #30
In terms of delete file from storage, I don't have much understanding of storage backend.

Also I am not sure if storage has been touched by mytardis' default action compared to save: https://github.com/mytardis/mytardis/blob/develop/tardis/tardis_portal/models/datafile.py#L352
delete: https://github.com/mytardis/mytardis/blob/develop/tardis/tardis_portal/models/datafile.py#L364

Please correct me

[2015-02-16 01:11] Li-ReDBox commented on #38
In Chris' email:
3. Improving the modelling of experiment authors in MyTardis (see modc08 closed issue #18) is going to be looked at after the 3.6 release.
Does it have any impact on this issue?
Thanks

[2015-02-16 01:14] franksc commented on #38
@Li-ReDBox No – this is just in the future/on the horizon for MyTardis core (no firm date on when it's going to happen), so we should just proceed with implementing what is described above

[2015-02-16 01:28] craigpatten commented on #30
Deletion of data from the storage backend can/should be an asynchronous garbage collection which can be done lazily, i.e. it doesn't need to be done at the precise time of metadata deletion.

[2015-02-16 01:38] Li-ReDBox commented on #38
@franksc, thanks I will work on this as the next task.

[2015-02-16 03:37] franksc opened #41 "Slider widget for range queries"
If our search backend/functionality supports range queries (i.e. retrieve results within range x and y for a given search field), would be good to provide a 'range slider' widget to allow end users to define a range visually rather than typing in values. Something along the lines of this implementation using jQuery UI (which MyTardis already uses): https://jqueryui.com/slider/#range

It is anticip

[2015-02-16 04:32] franksc opened #42 "Enforce constraint of mandatory fields requiring a value when inserting records"
The MODC08 metadata schema defines some fields as mandatory (i.e. need to have a value) and some as optional (i.e. don't need to have a value). An error should be returned, and nothing should be saved, if an attempt is made to save/insert a record where any mandatory field doesn't have a value supplied.

[2015-02-16 06:06] millercathy commented on #32
Hi @craigpatten should this be assigned to you? I know we talked about it...?

[2015-02-16 06:32] franksc commented on #33
Some points of clarification:

1. The metadata schema contains some fields defined as not for public display/consumption, which we don't want indexed

2. We may not want the contents of every single (public) model field to be used to populate the document/full text index – as suggested by the [Haystack 'Best Practices' guide](http://django-haystack.readthedocs.org/en/latest/best_practices.html#wel

[2015-02-16 06:43] craigpatten commented on #39
[ above change due to the use of content-based addressing in the object store and the HCP's apparent refusal to honour response-content-disposition in the same way as [S3](http://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectGET.html) ]

[2015-02-16 06:43] Li-ReDBox commented on #38
Quick update:
https://github.com/modc08/mytardis/commit/6127ca094ae2f6e7a8370b62d70155d076dab006: Add a choice to the form to allow user to type in authors in the form of n,n;n,n
https://github.com/modc08/mytardis/commit/80c54f3: add a function to inverte names. Not used by any yet.
These are preliminary work, please make suggestions and corrections.

[2015-02-16 06:44] craigpatten commented on #39
Done as of https://github.com/modc08/mytardis/commit/875bcc4b3b7b753ccf291e2bfe7af060df645e82.

[2015-02-16 06:45] craigpatten commented on #40
Done (sans #36 metadata) as of https://github.com/modc08/mytardis/commit/a1683146470c3e24825f02efd0364ce8752f9014.

[2015-02-16 06:45] #40 closed

[2015-02-16 11:24] franksc commented on #25
@Li-ReDBox Some stuff to get this started:

In the MyTardis dataset view, for any file with extension .vcf or .bam* we want a link 'Open in genome browser' which opens in a new window a URL with form ```http://genome.ucsc.edu/cgi-bin/hgTracks?org=human&hgt.customText=url``` where ```url``` is a direct URL to the file on the object store. This URL needs to be persistent/not expire as end users coul

[2015-02-16 23:54] franksc opened #43 "Clean up orphaned data on object store"
As discussed by @craigpatten in #30, implement periodic garbage collection/cleanup of data stored on the object store but no longer referenced by any files/representations in MyTardis.

[2015-02-16 23:55] franksc commented on #30
Sounds good @craigpatten – split into new issue #43

[2015-02-17 00:47] franksc commented on #42
When translating models to the database layer Django automatically adds an SQL NOT NULL constraint unless a model field has ```null=True```. This would seem to be a way of handling where a mandatory field doesn't have a value supplied; however, Django's [behaviour for string-based fields](https://docs.djangoproject.com/en/1.7/ref/models/fields/#null) is to record an empty value as 'empty string' r

[2015-02-17 00:59] Li-ReDBox commented on #29
Add initial template for display citation: https://github.com/modc08/mytardis/commit/0dfc198bb2c1d96234cbf5d29058e9ab7f7b03fc.

This templaet needs to be tidied up: e.g. removing reminders, heading, etc.

[2015-02-17 04:49] Li-ReDBox commented on #38
The latest code is here: https://github.com/modc08/mytardis/commit/281ccfae91c4b7f19a167b1ffcb9d943f2a89c38

During the course, I wrongly pushed two commits into del_assets branch: 6127ca0 and 3a1e2c54. These two have been picked into develop-doi branch now. Not sure if there will be some confusion when merge into main branch.

[2015-02-17 04:58] franksc commented on #34
Have confirmed with @shundezhang that the currently implemented single search box, as an interface to querying the Elasticsearch backend, supports the full [Lucene query syntax](http://lucene.apache.org/core/2_9_4/queryparsersyntax.html) including field searching, wildcarding, range querying, and Boolean operators plus grouping of parameters (i.e. ```Africa AND (skull OR tooth)```)

:+1:

[2015-02-17 05:19] shundezhang commented on #6
Code from original mytardis branch is not working for search. While working on a fix, I have updated haystack to 2.3.1 and changed the backend to elasticsearch since the previous code is based on an old version of haystack and solr. Elasticsearch and solr are both based on lucene but elasticsearch has a modern front end and we have used it widely in other projects. As of today search on mytardis m

[2015-02-17 05:41] millercathy commented on #6
@shundezhang Great!
@franksc and I are meeting with ACAD on Friday and will discuss with them then. (I think we have files from Laura?)

[2015-02-17 06:18] franksc commented on #37
A first draft mockup of a search results page (returned after user has executed a search query):

# Search results for *search query*

*x* experiments | *y* sources

[**Experiment title**]() (*YYYY*) [MyTardis badge *x* datasets] [MyTardis badge *y* files]
Author One, Author Two, Author Three
Experiment description

[**Source name**]()
[Some metadata not included in source name e.g. 'Infant male a

[2015-02-17 06:38] Li-ReDBox commented on #14
Merged commits from latest schematest: https://github.com/modc08/mytardis/commit/822ec7a081800b532fd3a8a8eeb481adbf3c82ac
Created sample dummy data.
Next working day: make it looks more like above mock-up.

[2015-02-17 06:53] franksc commented on #37
Just to clarify, by 'MyTardis badge' I mean these things you see in various browse views:
![screen shot 2015-02-17 at 17 22 04](https://cloud.githubusercontent.com/assets/8837821/6224284/94718112-b6c9-11e4-8b10-78f5f0fbca33.png)

[2015-02-18 04:34] franksc commented on #33
@shundezhang For the MyTardis Experiment model here is a breakdown of what fields should be in the document index and/or be indexed in a separate search field (executive summary: just title, description and publication_year)

Field|Document index|Search field|Comments
----|----|----|----
url | N | N | Field not in use by us
approved | N | N | Field not in use by us
title | Y | Y |
institution_name

[2015-02-18 06:25] shundezhang commented on #33
@franksc the syntax should be experiment_author:(Haak NOT Llamas). It must have the brackets otherwise won't work. For more details please see http://www.elasticsearch.org/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html#query-string-syntax

[2015-02-19 02:17] franksc commented on #30
More testing:

- Action to delete an experiment should fail if the experiment is set to immutable :white_check_mark:
- Action to delete a dataset should fail if dataset is set to immutable :white_check_mark:
- Action to delete a dataset should fail if dataset is attached to more than one experiment :white_check_mark:
- If action to delete a resource fails, an error popup should be displayed ('Can'

[2015-02-20 02:10] franksc commented on #43
Have discussed this functionality with ACAD and they suggested the periodic cleanup process run every week rather than every day/overnight (or even more frequently) – so in the event they delete some data files from MyTardis for which they don't have a copy elsewhere, there is still a window in which the files can manually be rescued from the object store before they are deleted from there.

[2015-02-20 02:17] franksc commented on #30
modc08/mytardis@b1b7aa2efa66541a647b983ac8adbc3960275f64 tweaks UI so Delete Dataset button is always displayed for non-immutable datasets, even if dataset can't be deleted due to attachment to another experiment (or experiments).

Also, have confirmed that if user attempts to delete an experiment containing a shared dataset, this will fail with error popup that 'Dataset [name] is attached to more

[2015-02-20 04:13] franksc commented on #12
It is fudgy for a dataset to determine its 'direct parent' experiment, from which it should derive some metadata like authors and publication year, based on looking up the chronologically earliest of its set of parent experiments. This is particularly the case when a dataset minting its DOI is only ever triggered following the action of a experiment minting its DOI – at this point in time it is kn

[2015-02-20 04:13] franksc commented on #29
Li raises an excellent point that it is fudgy for a dataset to determine its 'direct parent' experiment, from which it should derive some metadata like authors and publication year, based on looking up the chronologically earliest of its set of parent experiments.

Have reopened #12 to remove this fudginess and improve DOI minting for datasets, including recording in Dataset model its 'direct pare

[2015-02-22 22:08] #30 closed

[2015-02-22 23:36] franksc commented on #38
@Li-ReDBox Testing from modc08/mytardis@281ccfa shows author name handling is not functioning as expected.

1. Create a test experiment and in Authors field enter 'Lastname, Firstname; Lastname2, Firstname2'
2. We would expect this string to be split at the ';' separator and two entries be created in Author_Experiment table for 'Lastname, Firstname' and 'Lastname2, Firstname2'
3. However, we get *

[2015-02-23 00:53] franksc commented on #24
modc08/modc08@d51b04e348b25a3155a03414812a809d7fabfee8 Update ReadFromExcel class to use new template format

[2015-02-23 01:11] craigpatten opened #44 "Fix tar generation: name clashes between datasets"
Add a dataset level within tar naming hierarchy. It is currently a flat directory, so if files from different datasets have the same name &mdash; :scream:

[2015-02-23 04:36] Li-ReDBox commented on #38
Bug has been confirmed. The setting was missed.

[2015-02-23 05:29] Li-ReDBox commented on #5
One dataset has one Analysis;
One Analysis has one Processing;
One Processing has one Sequence;
One Sequence has one Library;

Extract has one or more Library;
One Sample has one or more Extracts;
One Source has one or more Samples;

Please correct me if I am wrong

[2015-02-23 22:08] franksc commented on #5
@Li-ReDBox This is all correct except 'One Analysis has one Processing'. One Analysis record is related to one or more Processing records, but each Processing record is related to only one Analysis record.

(PS on the MODC08 Google Drive there is a entity-relationship diagram for reference)

[2015-02-23 22:54] Li-ReDBox commented on #12
Here is the commit for this issue: https://github.com/modc08/mytardis/commit/0b647f2c2eb15b1389864dc1eeb237772bf0b859

When a dataset is created, it records which experiment it is in. Later, when shared, if the containing experiment is being published, this is updated to that experiment.

No lookup/guess any more

[2015-02-23 23:10] #6 closed

[2015-02-24 00:06] Li-ReDBox commented on #5
Thanks, @franksc, I have printed it

[2015-02-24 00:06] franksc commented on #22
Desired behaviour for ingesting metadata records: Before attempting to insert a new record found in Excel source file, look for a matching record (table+primary key combination) in the existing MyTardis data and if found skip inserting that record – *unless* when running ingest script user has passed an option (--force-update-metadata or something) to force inserting all records found in source fi

[2015-02-24 00:32] franksc commented on #38
Testing:

1. Create a test experiment and in Authors field enter 'Lastname, Firstname; Lastname2, Firstname2'
2. In Author_Experiment table we should get two entries 'Lastname, Firstname' and 'Lastname2, Firstname2' :white_check_mark:

However, in Experiment view author names are displaying as 'Firstname**,** Lastname' rather than 'Firstname Lastname' – @Li-ReDBox this should be an easy fix

[2015-02-24 00:47] Li-ReDBox commented on #38
Yes. It is part of filter which kept comma after flipping parts. This [commit](https://github.com/modc08/mytardis/commit/5c7b1f0af337e04c894d595f050dfb63822efa06) has removed it. Let me I have misunderstood or there are other things.

[2015-02-24 01:03] Li-ReDBox commented on #5
Is there an abstract drawing with all acad models in it? I am afraid that I cannot correctly figure out from the above mockup which section is from which model. Thanks.

[2015-02-24 01:05] franksc commented on #38
:+1:

[2015-02-24 01:05] #38 closed

[2015-02-24 01:16] Li-ReDBox commented on #5
This is my current naive looking: ![a](https://cloud.githubusercontent.com/assets/3203171/6341476/b1053980-bc1a-11e4-84fa-af0ad76a409c.png)

[2015-02-24 01:22] franksc commented on #12
Testing:

- Create 'Early test experiment with DS1'
- Create dataset DS1 and attach to this experiment
    - DS1.experiment = 'Early test experiment with DS1' :white_check_mark:
- Create another experiment 'Later test experiment with DS1'
- Attach DS1 to this experiment
    - Verify DS1.experiment still 'Early test experiment with DS1' :white_check_mark:
- Go into 'Later test experiment with DS1'

[2015-02-24 01:42] franksc commented on #5
@Li-ReDBox please see https://gist.github.com/franksc/e93a93018d0549579ea2 for prototype view used to generate the example image attached by Cathy above

(PS no comments on this horrendous code please – wasn't intended for public consumption ...)

[2015-02-24 01:54] Li-ReDBox commented on #5
Thanks @franksc - the only comment :laughing:

[2015-02-24 02:34] franksc commented on #43
An alternate option is to give ACAD a command line script to run this cleanup process on demand, rather than it running in the background periodically.

[2015-02-24 02:54] franksc commented on #12
Have also confirmed that in minting a DOI dataset looks up metadata from the direct rather than chronologically earliest experiment.

[2015-02-24 02:54] #12 closed

[2015-02-24 04:30] #34 closed

[2015-02-24 06:41] Li-ReDBox commented on #5
Thanks @franksc for providing code, I finally get something like the mockup in the code: https://github.com/modc08/mytardis/commit/833d91a8d0199b00943e541b7b2b0c016e30c596

Also, I added a function to get dataset from source: https://github.com/modc08/mytardis/commit/e92393bcb8b12a919af49ce3733f28fab1bb715a. Because I am still trying to understand the models so this get_dataset function can be qui

[2015-02-24 15:15] craigpatten commented on #22
Functionality exists as of modc08/mytardis@7080b90 and modc08/store@5920d09.

[2015-02-24 15:17] craigpatten commented on #22
To-do list:
- [x] option for local file removal
- [x] handle authors
- [x] remove institution

[2015-02-24 15:20] craigpatten commented on #24
Updates at https://github.com/modc08/modc08/issues/22#issuecomment-75774589.

[2015-02-24 23:43] franksc commented on #5
@Li-ReDBox I am not sure you are on the right track here – the idea is to customise the existing MyTardis dataset view (tardis/tardis_portal/templates/tardis_portal/view_dataset.html) to show ACAD metadata associated with the dataset, not create a separate view for this purpose.

modc08/mytardis@0d3ed1a6fc1168875440155983cf1eab832df551 shows an example of extending this view to show metadata from

[2015-02-25 04:51] shundezhang commented on #37
I have added a new variable in setting.py to use a customised single search view. Therefore all acad-related search view/form/indexes are kept in the acad app. This is easier to modify in the future since we have everything in one place. The result page is finished according to the above mockup (except the link to source page because it is work-in-progress).

[2015-02-25 04:58] shundezhang commented on #33
@franksc this is done. Actually it doesn't hurt to have more fields indexed. Only the document index needs to be limited to the fields we care about.

[2015-02-27 00:36] franksc commented on #35
In addition to the global 'single search' box in the MyTardis header, which allows for simple keyword searching plus advanced searching using the Lucene syntax, we need a standalone page providing advanced search functionality.

This page should have (from top to bottom):
- Another single search/text entry box for entering keyword-based queries
- Below this we will put some help text (to be suppli

[2015-02-27 00:40] franksc commented on #35
Diagram:

![scan 14 feb 2015 12_50-page1](https://cloud.githubusercontent.com/assets/8837821/6405249/214e93fa-be71-11e4-9e9f-ffb6162b9dba.jpg)

[2015-02-27 03:52] shundezhang commented on #14
This is done.

[2015-03-02 00:34] Li-ReDBox commented on #5
@shundezhang has made a few changes recently on views. Will branch-off from https://github.com/modc08/mytardis/tree/frontend to customise the existing MyTardis dataset view

[2015-03-02 01:05] millercathy opened #45 "Implement info pages"
Create pages of text (e.g. About page).
To be provided in due course by @franksc.

[2015-03-02 01:05] millercathy opened #46 "Implement home page"
Mock up to be provided in due course

[2015-03-02 01:06] millercathy opened #47 "Implement branding"
Further info to be provided

[2015-03-02 01:12] millercathy opened #48 "Assign URL"
Pending decision about name of the repository/site.

[2015-03-02 03:02] franksc commented on #48
@millercathy Are there rules/guidelines somewhere about domains *.adelaide.edu.au? (if we want to have that as part of our URL)

[2015-03-02 03:05] millercathy commented on #48
@franksc https://www.adelaide.edu.au/webguide/about/domains/

[2015-03-02 05:37] Li-ReDBox commented on #5
The latest Analysis model has removed note and added two other fields. I removed _note_ field and added placeholders for the two new fields. Please advise changes if needed. Thanks

Note: I accidentally committed to frontend not a new branch. I hope this does not cause any issue.
![dt](https://cloud.githubusercontent.com/assets/3203171/6436147/a758980c-c0fa-11e4-8b3c-01b3338f77e5.png)

[2015-03-02 06:19] franksc commented on #29
@Li-ReDBox Three tiny tweaks:
- Italicise the 'Title' component
- Make the http://dx.doi.org/... URL component a live hyperlink to that URL
- Add a 'hanging indent' to the citation block so lines after the first line display indented by, say, 3em

[2015-03-03 00:34] Li-ReDBox commented on #29
Used a wrong link, so the commit does not show up here. The commit is on [develop-doi branch](https://github.com/modc08/mytardis/commit/746aff4ea6155298f77cf839ac506c0044b61514)

[2015-03-03 02:34] franksc commented on #29
:+1:

[2015-03-03 02:34] #29 closed

[2015-03-03 03:22] franksc commented on #14
- If a dataset isn't accessible to the current user*, it shouldn't be linked to from a Source detail view

(\* e.g. end user is not logged in/anonymous, and dataset is not part of any public experiment)
- If a Source doesn't have _any_ datasets accessible to current user, it shouldn't be listed in the Source index view (or displayed on the map)

This is to prevent a) links appearing to datasets th

[2015-03-03 03:51] Li-ReDBox commented on #25
Initial work has been [committed](https://github.com/modc08/mytardis/commit/a6de24dc94efafe06a1bed4950891b0ea8647a62). Right now, `get_s3_url()` returns a static string which can be used to open genome browser. Once we have API to the object store, this can be updated.
Please suggest a better icon to the link of opening the browser.
Please advice if there is any misunderstanding.

[2015-03-03 04:49] franksc commented on #26
Sample implementation works in MyTardis for test cases described above

[2015-03-03 04:49] #26 closed

[2015-03-03 07:28] franksc commented on #25
@craigpatten If files on the object store are being streamed through MyTardis rather accessed directly via object store (cf. #39), does this mean Datafile model's get_download_url() method is the way of getting a download URL for the object?

[2015-03-04 04:59] franksc commented on #25
I tested using get_download_url() (in place of get_s3_url() ) and it worked okay in loading an example VCF data file into the genome.ucsc.edu browser.

[2015-03-04 05:45] franksc opened #49 "Customise MyTardis Experiment view"
Some tweaks required for MyTardis Experiment view (/experiment/view/_exp_id_/):
- In Description tab add two items to definition list:
  - **DOI** DOI of experiment
  - **Please cite as** citation block for experiment
- In Description tab don't show Administrators stuff (not meaningful for end users)
- 'Sharing' tab should only display if user has permissions to edit the experiment

[2015-03-06 05:49] franksc opened #50 "Need to be able to change experiment status from public metadata-only to public"
A desirable data publication workflow is:
- Ingest an experiment containing some datasets (with data files and ACAD schema metadata)
- Make this experiment and its contents public but with only metadata (not files) visible. This mints DOIs for the experiment and its datasets, so ACAD can cite this data in an associated research publication they are drafting without actually making the data files a

[2015-03-06 06:34] shundezhang commented on #41
Done. please test.

[2015-03-06 06:34] shundezhang commented on #14
Done. Please test.

[2015-03-09 13:21] craigpatten commented on #22
Institution: modc08/store@f1f72cf

[2015-03-09 13:50] craigpatten commented on #22
Author (server-side): modc08/mytardis@5f5b78b.

[2015-03-09 14:41] craigpatten commented on #22
This code can handle the magic test spreadsheet of @franksc so I think we can call #22/#24 done. For any further problems, we can open specific issues.

[2015-03-09 14:41] #22 closed

[2015-03-09 14:41] craigpatten commented on #24
This code can handle the magic test spreadsheet of @franksc so I think we can call #22/#24 done. For any further problems, we can open specific issues.

[2015-03-09 14:41] #24 closed

[2015-03-09 22:59] franksc commented on #32
N/A as should never be possible to create an authorless experiment, or an experiment which doesn't have all metadata required for minting DOI.

[2015-03-09 22:59] #32 closed

[2015-03-09 23:52] Li-ReDBox commented on #50
@franksc, just to give you an update: I am investigating if https://github.com/modc08/mytardis/blob/modc08/tardis/tardis_portal/models/experiment.py#L46 can be used for this purpose. If this is not a solution, we may have to consider to add a switch.
Feel free to correct me and make suggestions.

[2015-03-10 01:34] Li-ReDBox commented on #50
A possible solution:
- When sharing an experiment with self.public_access == _PUBLIC_ACCESS_METADATA, 'Public Metadata only (no data file access)'_, do not lock experiment.
- UI allows access to be changed to PUBLIC_ACCESS_FULL only if an experiment with self.public_access == *PUBLIC_ACCESS_METADATA .
- Once an experiment in self.public_access == *PUBLIC_ACCESS_FULL, experiment is locked.

What do

[2015-03-10 02:50] franksc commented on #25
modc08/mytardis@fcce7e8d1fa083fd7680f8aec4ad15326891e19e switches this to use get_download_url() rather than get_s3_url(), plus makes some other tweaks. (plus URL bugfix modc08/mytardis@c5cee1f5dc8509535192b80026921d149135a1d3)

[2015-03-10 04:22] franksc commented on #50
@Li-ReDBox I don't think that is going to work because:
- Under the DOI business rules, once a DOI is minted for a resource (e.g. experiment) the properties of the resource that inform citation, i.e. its metadata and files/contents, need to be unchanged i.e. experiment really should be made locked/immutable at this point. The only thing we want to be able to change when resource has DOI/is immutab

[2015-03-10 04:39] Li-ReDBox commented on #50
@franksc this looks better because it sets _locked_ once an experiment is minted which complies better to minting rules. After minted, user is only allowed to change from md -> full no other direction. I will give it a go and see how it works.

[2015-03-10 06:19] franksc commented on #49
Above has been implemented on 'frontend' branch apart from 'Please cite as' as citation block stuff is all on develop-doi branch at this stage

[2015-03-10 22:54] Li-ReDBox commented on #50
@franksc I followed your suggestions and made template checks of public_access_metedata which is straight forward. Then I messed around to remove access_none choice on server side when access is metedata only to stop going back. But found it was not as easy as doing it on front using js. Please check [commit](https://github.com/modc08/mytardis/commit/b9d7d3b23fd307267f4841c2999cbb8fe140c9a9) and f

[2015-03-10 23:09] franksc commented on #50
Works for me @Li-ReDBox – after you take an experiment from private -> public (md) the Change Public Access button is still displayed but the private option is no longer available, and on switching to public (everything) Change Public Access disappears. :+1:

[2015-03-10 23:13] Li-ReDBox commented on #50
I am not sure but I reckon this probably the original behaviour but we made it more strict if this is a good word to put it.

[2015-03-10 23:30] #50 closed, assigned to Li-ReDBox

[2015-03-10 23:39] franksc commented on #41
Works as expected. Discussed with @shundezhang and decided on behaviour that if the slider is set to its min/max values (e.g. user doesn't change its default state), widget is not active and doesn't contribute a range query to the overall query executed by the advanced search form.

[2015-03-10 23:39] #41 closed

[2015-03-11 06:38] franksc commented on #33
Have provided @shundezhang with a copy of MODC08 metadata schema with annotations on where fields should be indexed in document/full text index and standalone search fields should be created

[2015-03-11 23:15] franksc commented on #14
Testing:
- Datasets not accessible to current user not listed/linked to in Source view :white_check_mark:
- If a Source has no datasets accessible to end user, it is not shown in Source index view :white_check_mark:

[2015-03-12 06:32] franksc commented on #15
Closing this as view works as expected – only minor look-and-feel tweaks should be necessary from this point.

[2015-03-12 06:32] #15 closed

[2015-03-12 06:32] franksc commented on #14
Closing this as view works as expected – only minor look-and-feel tweaks should be necessary from this point.

[2015-03-12 06:32] #14 closed

[2015-03-13 03:08] franksc commented on #39
There seems to be an issue with accessing data files via MyTardis when end user is not logged in but instead viewing a private experiment by way of a time-limited access URL (you can generate these in MyTardis in Experiment view -> Sharing tab -> Create New Temporary Link).

Using one of these 'secret' links a non-authenticated user can view a private experiment and its datasets, but when trying t

[2015-03-15 23:27] millercathy opened #51 "Performance testing"
As discuss in meeting 13/3/15

[2015-03-16 00:52] franksc commented on #5
Closing this as works as expected and only formatting/visual tweaks required

[2015-03-16 00:52] #5 closed

[2015-03-16 01:31] craigpatten opened #52 "backup and restore mechanisms"
The only mutable state on the VM is held in the database, which needs to be regularly dumped into an object store (Swift, HCP, etc.).  The amount of data involved is quite small.

[2015-03-16 03:24] franksc commented on #49
modc08/mytardis@5d9dbe52a8931cfcca896adf89608a92c71a66fc adds 'Please cite as' citation block to Experiment description tab

[2015-03-16 03:24] #49 closed, assigned to franksc

[2015-03-16 06:05] millercathy commented on #52
Hi @craigpatten Does this issue cover the snapshot and relaunch work we discussed Friday? Cheers

[2015-03-16 06:06] craigpatten commented on #52
@millercathy yes, this is the stuff that an ongoing monitoring system would hook into.

[2015-03-16 06:06] millercathy commented on #25
@franksc Hi Chris, do we have sufficient feedback from ACAD to close this?

[2015-03-17 02:21] franksc opened #53 "Change in data publisher ACAD -> name of repository"
ACAD have agreed that the 'publisher' of data made available through the MODC repository should not be the value of Experiment.institution, which should always be 'Australian Centre for Ancient DNA', but instead the name/site title of the repository itself. Recently the repository name was decided to be OAGR = Online Ancient Genome Repository.

This affects the metadata supplied in minting DOIs an

[2015-03-17 05:49] franksc commented on #53
modc08/nectar-shell@191334adf66c7d7d8ea998b331baa208f6a4b932 sets SITE_TITLE to 'OAGR' and adds new property SITE_LONGTITLE = 'Online Ancient Genome Repository', in MyTardis settings.py.

modc08/mytardis@6cc4af7150c1a82f4e33d3c0c9d0615c338aa03e uses SITE_LONGTITLE in place of Experiment.institution_name in minting DOIs.

Bonus points: Minting DOIs now uses value of Experiment.institution_name to p

[2015-03-17 06:21] Li-ReDBox commented on #52
As the first part of this task, I did a round of tests to find a suitable database to replace sqlite. This has been done and we have picked up the winner of backend database: postgresql.

To accommodate this backend, there are [few changes](https://github.com/modc08/mytardis/commit/953b011472dd9dbaddc7bb9f467bf18547c65a86) have been made. @franksc, could please check the change of acad.organism an

[2015-03-18 00:27] #53 closed, assigned to franksc

[2015-03-18 01:12] franksc commented on #33
I believe this is done with modc08/mytardis@888aa3ba3443e666276b465fd2bc021dbbe3524c

[2015-03-18 01:32] franksc commented on #35
Closing this as looks and works as expected per above – can reopen if we want to add more dropdowns and other widgets or make other changes

[2015-03-18 01:32] #35 closed

[2015-03-18 01:46] franksc commented on #25
Closing as does what is required i.e. click a button in MyTardis and it reads/opens data file in UCSC genome browser.

Have raised with ACAD the current behaviour of passing parameter `org=human` ('latest human reference genome') to UCSC browser vs explicitly specifying via `db=xxx` the reference genome (e.g. hg19) to which the data file was aligned.

[2015-03-18 01:46] #25 closed

[2015-03-18 02:41] franksc commented on #52
Postgres for the win!

modc08/mytardis@953b011472dd9dbaddc7bb9f467bf18547c65a86 looks fine to me, and should be able to be rolled into modc08 branch without affecting anything.

Dumping and loading data using Postgres is probably more efficient than Django's dumpdata/loaddata which relies on serialising/deserialising to JSON or similar – although as Li notes given our body of data we may not notic

[2015-03-18 04:18] franksc commented on #33
Can we now please include Experiment.institution_name in the document index and as a standalone search field – there now could be a range of values in this model field (rather than just 'Australian Centre for Ancient DNA')

Also it would appear author names are not being included in the document index – on vm-frontend-20150226-145119 there is an experiment with author John Doe, but a query for "jo

[2015-03-18 04:29] shundezhang commented on #33
I'll add Experiment.institution_name to the search index and author names in the document index.

[2015-03-18 05:12] franksc commented on #37
Can we:
- Group search results under headings 'Experiments' and 'Sources'
  - If no results for a result type (Experiment or Source) retrieved, don't include the heading
- In the _x_ experiments | _y_ sources line, link '_x_ experiments' and '_y_ sources' to the corresponding headings
- Only show '_x_ experiments' or '_y_ sources' if number of results for the result type >=1. I.e. if 0 experiments

[2015-03-19 04:11] millercathy opened #54 "Experiment becomes Study"
Change all front end references to Experiment to Study.

The term 'Study' is more relevant to the research data in question. Replacing Experiment with Study is more meaningful.

Back end references can remain as is.

Thanks.

[2015-03-19 04:12] millercathy commented on #48
Hey @franksc as discussed can you do a bit more digging into this so we know what we have to do from Uni perspective - start getting the wheels in motion. Thank you.

[2015-03-19 04:17] millercathy opened #55 "Prod DOI minting"
Set up prod DOI registration as per http://ands.org.au/services/cmd-technical-document.pdf section 3.1.B.
Agreement already signed. Need to add new IP addresses?

[2015-03-20 00:20] franksc opened #56 "'X' to remove dataset from experiment"
In the experiment view for an unpublished/non-locked experiment there should be 'X' links in the top-right corner of each dataset box (right hand column) to detach the dataset from the experiment. However, on loading the experiment view page these 'X's appear briefly then disappear.

Example: http://vm-frontend-tweaks-20150316-130458.modc08.ersa.edu.au/experiment/view/4/

This has worked in the re

[2015-03-20 01:11] shundezhang commented on #33
fixed in the above commit.

[2015-03-20 01:52] franksc commented on #33
:+1:

[2015-03-20 01:52] #33 closed

[2015-03-20 04:23] franksc opened #57 "Wrong output filename when direct downloading outside of browser / 'Remote file name has no length' error"
When downloading a MyTardis individual file, dataset tar or experiment tar via URLs with form mytardisexample.com/api/v1/dataset_file/_id_/download or .../download/_dataset_|_experiment_/_id_/tar/ outside of the browser window navigating the repository site e.g. on the command line via wget or curl, the output filename is incorrect. Also, curl returns a 'Remote file name has no length' error when

[2015-03-20 04:36] franksc commented on #55
I don't think the IP addresses associated with the Cite My Data appid are important because we are using appid + shared secret, rather than appid + IP address, for authentication.

Also, we may need to update the domain to whatever site URL we end up with (cf. #48) if it's different to what was supplied during the test registration.

[2015-03-20 04:55] franksc opened #58 "Export plain text listing of direct download URLs for batch download operations"
Where an end user can pick one or more check box options in a listing of data files (in dataset view) or listing of datasets (in experiment view), we need an option to output a plain text listing of direct download URLs for the selected resources. (This is in addition to the existing buttons 'Download Selected Files' (dataset view) and 'Download Selected' (experiment view) which tar up the selecte

[2015-03-20 05:19] millercathy commented on #55
Good points. Thanks @franksc.

[2015-03-20 05:52] franksc commented on #57
This seems to be a bug in MyTardis core as also evident with 3.6 release – we should probably push our fix upstream

[2015-03-20 06:07] shundezhang commented on #37
Fixed in the above commit

[2015-03-20 06:10] franksc commented on #37
:+1:

[2015-03-20 06:25] franksc commented on #36
One way to maybe do this:
1. Prepare a plain text template based on existing [block template](https://github.com/modc08/mytardis/blob/modc08/tardis/apps/acad/templates/dataset.html) which lists provenance and pipeline metadata for a given dataset
2. Use Django's render_to_string() to get a string-y render of this template for target dataset
3. Insert this as a file (filename 'metadata.txt' is prob

[2015-03-23 01:25] millercathy opened #59 "Documentation"
Provide documentation for handover including:
- System architecture diagram
- HCP specs (re security etc as we discussed)

[2015-03-23 02:55] franksc commented on #37
Made some display tweaks in modc08/mytardis@a3721345976ec123ee8388c9a3aac87500fac04f . Will reopen this issue if further tweaks required.

[2015-03-23 02:55] #37 closed

[2015-03-23 04:17] Li-ReDBox commented on #52
Commands come from MyTardis are the wrappers of pg_dump for backup and psql -f for restore a backup. The backup command does not take extra switches. It only gets connection settings from settings.py. So before restore, an empty database with the same name has to be created. A normal user with all PRIVILEGES on the database can restore a backup but has one error for making comment, and a few warni

[2015-03-23 04:39] craigpatten commented on #44
Fixed in modc08/mytardis@a369cd2.

[2015-03-23 04:39] #44 closed

[2015-03-23 05:32] craigpatten commented on #52
Just had a chat with @Li-ReDBox and looked at the code. It's simpler to directly interface to the database dump/restore mechanisms. Instructing MT to do the same thing itself is a bit of a roundabout mechanism that doesn't actually buy anything and limits flexibility.

[2015-03-23 06:05] Li-ReDBox commented on #52
[A snippet](https://gist.github.com/Li-ReDBox/21c548cc87ee7e2408e9) which I used in manual process to modify database backend. It might be inserted into sub/mytardis-prep/install.sh but I have not tested it.

During my manual set up procedure, I had to:
- kill the running django server
- run installation and setting change snippet listed above
- prepare MyTardis database:

[code]
- load data:

[co

[2015-03-23 06:56] craigpatten commented on #36
Basic structure at modc08/mytardis@80032d6474210dc32b45ede6776bc8da3a843ac3.

@Li-ReDBox can make something more useful out of this! 😊

[2015-03-23 13:38] craigpatten commented on #42
This one-line django tweak forces model validation even when inserting data via the API.  It doesn't just enforce [blank](https://docs.djangoproject.com/en/1.5/ref/models/fields/#blank), it also handles [choices](https://docs.djangoproject.com/en/1.5/ref/models/fields/#choices) and anything else that form validation would pick up.

As this is a modification to django rather than mytardis, it would

[2015-03-23 21:18] franksc commented on #36
I will prepare a template and we can take it from there

[2015-03-24 00:15] franksc commented on #42
Have tested and can confirm this does bring [batch ingest script/process](http://github.com/modc08/store) to a screaming halt if you try to ingest metadata where a) a mandatory field is blank b) an invalid value is supplied for a field taking a fixed set of values c) value of wrong type is supplied e.g. a string where the field expects an integer.

A most elegant solution @craigpatten – can you pl

[2015-03-24 01:43] franksc opened #60 "Install ingest script on ACAD RDSI box"
If the intention is for ACAD to batch ingest data and metadata into OAGR from their existing RDSI box – where their big data files are stored – the [store.py ingest script](http://github.com/modc08/store) needs to be installed and run-able on this box.

If ACAD don't have admin privileges on this box they will presumably need eRSA's assistance with this e.g. installing Python packages. From what I

[2015-03-24 04:11] craigpatten commented on #42
✅

modc08/nectar-shell@4f0e34c0900b196dc806b26af7a73fb6d7e9c967

[2015-03-24 04:11] #42 closed

[2015-03-24 04:52] Li-ReDBox commented on #36
@franksc: the proposal is simple, efficient and should work fine with a similar template as you mentioned for the format you want (if in html and the exact content, the change will be minimal :laughing: ) and calling render_to_string with that template in @craigpatten's [code](https://github.com/modc08/mytardis/commit/80032d6474210dc32b45ede6776bc8da3a843ac3).

My rough test with my understanding

[2015-03-24 06:13] millercathy commented on #43
Hi @franksc and @craigpatten Confirming where are we at on this? Did we agree for an on demand process?

[2015-03-24 16:27] craigpatten commented on #39
Putting in a request here for the fresh pairs of eyes of @shundezhang and @Li-ReDBox to look at this one. 😊

Background: viewing an experiment with a private sharing link (i.e. token=X query parameter) sets up an appropriate session which authorises these guests to view datasets, download tar files, etc. That all works.

However, when attempting to download a single file from the dataset view, [Da

[2015-03-24 16:29] craigpatten commented on #39
PS the issue doesn't seem to be anything to do with using the object store as a backend. This auth problem crops up before the code even has a chance to interact with the object store to construct its response.

[2015-03-25 00:02] franksc commented on #39
FYI this problem also appears to affect MyTardis release 3.6

[2015-03-25 00:13] craigpatten commented on #39
Interesting! I'll admit it was fairly late the other night when I tried vanilla MT and thought (?) that it was immune, but if you've seen it break then I'll take your word for it. 😊

[2015-03-25 01:22] franksc commented on #39
Grischa at MyTardis HQ is looking into a fix for this

[2015-03-25 02:37] franksc commented on #39
Fixed in MyTardis core by Grischa: https://github.com/mytardis/mytardis/commit/e732af715b236023667e5db21504ae27d72c78db

Applied to our fork: https://github.com/modc08/mytardis/commit/1c408d6

:+1:

[2015-03-25 02:37] #39 closed

[2015-03-25 07:20] craigpatten commented on #43
Yes, it's mostly done as of modc08/store@031f51c. Will be finished ASAP.

[2015-03-25 14:55] craigpatten commented on #43
✅ modc08/store@07cec3c

@franksc might want to kick the tyres before closing.

[2015-03-26 00:29] franksc commented on #43
Testing:
1. Ingested (using store.py) a test experiment containing a dataset containing two files
2. Confirmed (using list.py) those files are in object store (inc. confirming MD5 hashes match source files)
3. Deleted one of those two files through MyTardis frontend
4. Ran clean.py to see what will happen. Indicates one file will be trashed from object store – confirmed the MD5 of the file to be d

[2015-03-26 01:04] franksc commented on #43
Some further testing:
1. Ingested same test experiment again
2. One of the files just 'ingested' is already in object store so we should expect the datafile object/representation of the file created in MyTardis is just a reference to existing data file in object store – list.py confirms this by showing only two files in object store
3. Deleted one of those two files through MyTardis frontend where

[2015-03-26 03:21] craigpatten commented on #43
Some improvements in modc08/store@9b1b7d9 &mdash; the cleanup script will tell you how many:
- references
- objects
- live references
- dead references (hopefully zero)
- unreferenced objects (&rarr; deletion)

[2015-03-26 03:22] #43 closed

[2015-03-26 04:37] franksc commented on #58
@shundezhang
1. Can we do something with the popup so when end user hits Ctrl-A/Command-A/select all it just highlights the download URLs rather than whole page – so they can easily copy/paste somewhere else
2. Please make the Show Download URLs button just use the icon, with 'Show Download URLs' as the tooltip/hover text

[2015-03-26 04:43] franksc commented on #54
Based on some eyeballing of various MyTardis views, looks like a successful s/experiment/study

[2015-03-26 04:43] #54 closed, assigned to shundezhang

[2015-03-26 05:49] shundezhang commented on #56
that delete icon 'X' is visible when the dataset is attached to multiple studies. if it is only attached to one dataset, you can't detach it, hence no 'X' is shown.

[2015-03-26 06:01] craigpatten commented on #57
This is just a case of using the appropriate command-line parameters to instruct the client to take notice of the [Content-Disposition](https://tools.ietf.org/html/rfc2183) response header.

For curl: use [-J / --remote-header-name](http://curl.haxx.se/docs/manpage.html#-J).

For wget: use [--content-disposition](http://www.gnu.org/software/wget/manual/html_node/HTTP-Options.html).

[2015-03-26 06:01] #57 closed, assigned to craigpatten

[2015-03-26 23:45] franksc commented on #56
Well that was obvious. Good sleuthing @shundezhang

[2015-03-27 03:15] franksc commented on #56
The 'X' does not respect the condition of experiment being immutable – it should not be possible to detach a dataset from an experiment that is immutable/published.
1. Don't show 'X'-es for any dataset if experiment is set to immutable
2. If attempt is made to detach a dataset from an experiment, this should fail (with error message popup 'Can't detach dataset: experiment is immutable')

[2015-03-27 03:44] franksc commented on #58
On experiment view (with datasets listed in right hand column):
1. We don't want buttons to show file download URLs within each dataset (if user wants this they can go to view for individual dataset)
2. At the head of the dataset column, next to 'Download Selected', we want a 'Show Download URLs' button (icon, with 'Show Download URLs' displayed as tooltip) which will launch a popup containing dir

[2015-03-27 06:07] franksc commented on #58
:+1:

[2015-03-27 06:07] #58 closed, assigned to shundezhang

[2015-03-31 06:05] Li-ReDBox commented on #52
1. backup the whole database in a [cron job](https://gist.github.com/Li-ReDBox/8dca63260260e9cfabdf)
2. [upload](https://gist.github.com/Li-ReDBox/8001cf910e1360c0bfe5#file-upload-retrieve-from-object-sore-L80) the database backup to object store
3. [retrieve the latest backup](https://gist.github.com/Li-ReDBox/8001cf910e1360c0bfe5#file-upload-retrieve-from-object-sore-L93), then some script can r

[2015-04-01 01:07] Li-ReDBox commented on #52
_Below statements are based on the current [config.yaml](https://github.com/modc08/store/blob/master/config-example.yaml) structure; with an extra **db_backup** section which has the same keys as in **hcp** section only has different **base** value._

When files are uploaded var sync or upload (md5 mode), keys are set explicitly with hcp:base prefix. Backups will have db_backup:base prefix.

Curre

[2015-04-01 03:44] franksc commented on #52
Storing OAGR data files and database backups in separate paths in the same bucket, e.g. datafiles/ and databases/, seems smart to me.

I wonder if in addition to 'retrieve latest backup' we may want a means to 'retrieve backup dated xxxx', to facilitate rolling back to a previous database state should this ever be necessary.

[2015-04-01 04:51] Li-ReDBox commented on #52
@franksc, how often are you expecting database gets backed up? How accurate should date (timestamp) be filtered?

[2015-04-01 06:49] Li-ReDBox commented on #52
Some code has been put into a new [branch](https://github.com/modc08/store/tree/db_backup)

[2015-04-02 01:22] franksc opened #61 "MyTardis/Django production deployment"
Looking through MyTardis' Django settings.py there would seem to be some settings we will want to change for production deployment:
- Change DEBUG from True to False
- Change SECRET_KEY to something unique to our deployment
- Change ALLOWED_HOSTS to something other than '*'

Anything else?

[2015-04-02 03:59] Li-ReDBox commented on #52
In terms of using dated condition, I had a bit of [play](https://github.com/modc08/store/commit/585beb4c9cda60207a386ae21af13cd58d5cc0ce). Not sure if it is what @franksc wanted.

[2015-04-08 01:09] Li-ReDBox commented on #52
Currently I am using pg_dumpall to back up everything including all roles and drop/create commands. When run the backed up sql file var postgres role to restore, there are errors popping up which I have not found harmful:

[code]

If this is a concern, we could find other more advanced methods for backing up/restoring or simply remove postgres role from backed up file.

[2015-04-08 04:14] franksc commented on #48
oagr.adelaide.edu.au will be the public-facing URL.

This is just a CNAME alias to oagr.modc08.ersa.edu.au, which will be managed at the eRSA end to always point to the IP address of the current OAGR production VM.

[2015-04-08 04:14] #48 closed, assigned to franksc

[2015-04-08 06:03] franksc commented on #56
Testing:
- Dataset is attached to only one experiment = no 'X' to remove :white_check_mark:
- Dataset is attached to multiple experiments = 'X' to remove :white_check_mark:
- Experiment is immutable = no 'X's to remove datasets :white_check_mark:
- Attempt to remove dataset from public experiment = error message popup :white_check_mark:

[2015-04-08 06:03] #56 closed, assigned to shundezhang

[2015-04-09 03:30] franksc commented on #36
Done (modc08/mytardis@416a618ddb60a84bcbcf59b3b5a611b66dd271dc)

[2015-04-09 03:30] #36 closed

[2015-04-10 04:00] franksc opened #62 "Domain name management for production VM"
The public-facing URL for OAGR will be oagr.adelaide.edu.au, which is just an alias to oagr.modc08.ersa.edu.au (cf. #48). We need to ensure oagr.modc08.ersa.edu.au always resolves to the IP of the current production deployment of OAGR, as it inevitably changes over time.

A simple solution would be for a newly deployed OAGR VM to declare 'I am the new production instance' and update oagr.modc08.er

[2015-04-10 04:51] franksc opened #63 "Establish read-only credentials for frontend HCP access"
Establish a separate set of credentials that permit read-only access to the HCP object store, for use by the OAGR MyTardis frontend – so the frontend can get data and serve it to end users but not put anything in.

Maintain the existing read-write credentials so backend services like http://github.com/modc08/store can upload to object store.

[2015-04-13 04:43] franksc opened #64 "Changing experiment from public (md only) -> public (everything) needs to update DOI metadata"
Customisations made in #50 allow an experiment to be 1. progressed from private -> public (metadata only), at which point a DOI is minted and experiment becomes publicly visible but without public access to its files 2. subsequently progressed to public (everything) where the files become accessible.

However, when the DOI is minted as part of step 1 no licence has been applied to the experiment d

[2015-04-13 04:43] franksc commented on #64
WIP modc08/mytardis@d712b895548f99a3e43a9b1e4e8e4d2e6470fba4

[2015-04-14 00:58] franksc commented on #64
A side note: the [Cite My Data technical doc](http://ands.org.au/services/cmd-technical-document.pdf) says the Update DOI endpoint allows a client to 'update the URL only, metadata only, or both the URL and metadata' (3.11.3) and the `&url` URL parameter is only required when you want to update the URL

... but I found it returned an error when attempting to update a DOI (with `&doi` URL parameter

[2015-04-14 01:21] franksc commented on #64
Done and merged into modc08 branch with modc08/mytardis@f019fe292c8163edc92c892babfac3a3b2e1a064

[2015-04-14 03:58] franksc commented on #61
Here is some Python to copy and paste for generating a Django SECRET_KEY: https://gist.github.com/ndarville/3452907#file-secret-key-gen-py-L22

[2015-04-14 04:05] franksc commented on #62
As discussed with @craigpatten, we also want some means to manually update the resolution of oagr.modc08.ersa.edu.au to a specified target IP address – ideally something ACAD could access/run themselves.

A command line script will probably suffice, e.g. `> update-oagr-ip [some IP address]`

[2015-04-14 05:20] franksc commented on #61
See also the Django docs under 'Deploying Django': https://docs.djangoproject.com/en/1.5/howto/deployment/

[2015-04-14 05:38] craigpatten commented on #51
@shundezhang can you please:
- Load up a new OAGR instance and publish some dummy data (something meaty, perhaps several 1GB files)
- Get client VMs to simultaneously `wget`:
  - individual files
  - dynamically streamed tar files

Start with one client VM and try up to &hellip; "several" :blush:

Monitor the OAGR instance to see how we go with CPU and network usage. Yes, this is a fairly quick an

[2015-04-14 06:42] franksc commented on #47
The default MyTardis favicon is for some reason a squirrel ... https://raw.githubusercontent.com/mytardis/mytardis/develop/tardis/tardis_portal/static/favicon.ico

Maybe we should replace this with one of our branding images, if it looks good scaled down to favicon size.

[2015-04-15 01:40] franksc opened #65 "Restrict access to Elastic HQ plugin"
The current OAGR build process installs the [Elastic HQ plugin](http://www.elastichq.org) as part of setting up the ElasticSearch component. This has proved useful for debugging/reviewing search indexing and would be handy to maintain in production, but we would want to restrict access to only trusted people.

@shundezhang What do you think this is the best way of doing this? Just apply basic HTTP

[2015-04-17 00:40] Li-ReDBox commented on #52
#### Current situation:
1. Deployment has been put into [fullstack branch of nectar-shell](https://github.com/modc08/nectar-shell/commits/fullstack). The _store_ sub manages restoring, set up jobs to backup database. All these actions interact with object store.
2. During the setup, a [modified settings.py](https://github.com/modc08/nectar-shell/blob/fullstack/sub/mytardis-prep/mytardis-prep.sh#L2

[2015-04-17 01:53] franksc commented on #61
If you set DEBUG = False, MyTardis craps out (any page/URL) with less than helpful error message 'A server error occurred.  Please contact the administrator.' Examining django.out log indicates this is a HTTP 500 error relating to Django not finding a static asset (jQuery).

Need to get Django to collect together static files (CSS, Javascript libs etc) under `/data/mytardis/mytardis/static`: `bin/

[2015-04-17 06:56] franksc commented on #61
With DEBUG = False Django will pay attention to the [ALLOWED_HOSTS](https://docs.djangoproject.com/en/1.5/ref/settings/#allowed-hosts) setting. Not sure if a valid setting for production would be 'oagr.adelaide.edu.au', or '.modc08.ersa.edu.au' (i.e. all subdomains under modc08.ersa.edu.au), or both.

[2015-04-17 07:16] franksc commented on #61
[At the moment](https://github.com/modc08/nectar-shell/blob/master/sub/mytardis-prep/install.sh#L87) we are running MyTardis using the Django builtin web server, which the [docs](https://docs.djangoproject.com/en/1.5/ref/django-admin/#django-admin-runserver) make clear is not suitable for a production/real-world deployment.

Using nginx for static assets and gunicorn for the Django side seems a po

[2015-04-20 01:27] franksc opened #66 "Search with 0 results raises DatabaseError when using Postgres"
On an OAGR VM using PostgreSQL rather than sqlite (built using mytardis/modc08_pg and nectar-shell/fullstack branches), a search that returns 0 results raises a DatabaseError exception based on an SQL syntax error:

[code]

[2015-04-20 04:33] franksc commented on #52
Simple test:
- Launched a VM using modc08_pg and fullstack branches
- On that VM added an experiment, dataset, files and ACAD metadata
- Let VM run for a while, waiting for cronjob to save db state and push to object store
- Launched another modc08_pg/fullstack VM with parameter to get 'latest' db state from object store
- New VM retrieved and loaded latest db state – extra experiment & other stuf

[2015-04-20 06:42] franksc commented on #61
nectar-shell branch [fullstack-gunicorn](https://github.com/modc08/nectar-shell/tree/fullstack-gunicorn/) implements the stuff above: DEBUG, ALLOWED_HOSTS and SECRET_KEY settings and deployment using nginx+gunicorn, using the pre-rolled gunicorn_settings.py that comes with MyTardis.

[2015-04-21 06:11] craigpatten commented on #63
There is a new ACAD HCP tenant with two namespaces: one for bulk data ("data") and one for database backups ("backups").

A few different sets of credentials have been generated following the principle of least privilege:
- read-only access to bulk data (MyTardis)
- read/write access to database backups (non-destructive writes only) (MyTardis VMs)
- read/write access to bulk data (non-destructive

[2015-04-22 02:54] franksc commented on #61
Pre-rolled gunicorn_settings.py uses Gunicorn asynchronous worker type gevent, which causes problems with DOI minting (noted by me) and tar downloading (noted by @craigpatten).

Running with worker type 'sync' appears to resolve these issues, but need to consider how many workers of this type are needed to handle the number of concurrent users and performance we need for production deployment.

[2015-04-22 03:10] millercathy commented on #52
Can we resolve #52, #61 and #65 by cob Tuesday 28 April??

[2015-04-22 03:10] millercathy commented on #61
Can we resolve #52, #61 and #65 by cob Tuesday 28 April??

[2015-04-22 03:10] millercathy commented on #65
Can we resolve #52, #61 and #65 by cob Tuesday 28 April??

[2015-04-22 03:11] millercathy opened #67 "System and Risk/Security Testing"
Aiming for this testing to begin Friday 24 May.

The following issues need to be action prior to testing beginning:
#52 re backup and restore mechanisms
#61 re MyTardis/Django production deployment and Gunicorn config
#65 re Restrict access to Elastic HQ plugin

Given @shundezhang and @Li-ReDBox are on leave this week, we will need to delay testing. Can we resolve #52, #61 and #65 by cob Tuesday 2

[2015-04-22 03:23] franksc commented on #64
Production-ready deployment has exposed some problems with the way this functionality is called. modc08/mytardis@7c0119029356a21ea9538322663d8b4a88214b86 disables calling update_doi while I investigate and work out a fix/improvement.

[2015-04-23 02:21] franksc commented on #61
@craigpatten noted the [Gunicorn docs](http://gunicorn-docs.readthedocs.org/en/latest/deploy.html) indicate if you want do streaming requests/reponses you need to use one of the asynchronous worker types. :angry:

[2015-04-23 02:48] franksc commented on #52
I have merged modc08_pg branch into modc08, as its tweaks to Django models to accommodate Postgres work fine with sqlite as well.

[2015-04-23 02:52] franksc commented on #52
@Li-ReDBox Is there any further development required/in progress here?

[2015-04-23 03:56] Li-ReDBox commented on #52
DB part I cannot think of any at the moment. For settings, probably you want to remove some `sed`'s and update settings.py. (on slow link)

[2015-04-24 03:56] franksc commented on #60
Jimmy @ ACAD will handle installing this on ACAD's RDSI box, including liaising with eRSA helpdesk if necessary.

[2015-04-24 06:31] franksc commented on #61
@craigpatten's comment from modc08/mytardis@662bb2e89ca35217598e7b17198954bac87adba8:

[2015-04-24 06:59] shundezhang commented on #66
fixed in the above commit

[2015-04-27 01:35] shundezhang commented on #65
I have changed elasticsearch to only listen on localhost, and set up nginx as a proxy running on port 9000 passing requests to elasticsearch's port 9200. To use the plugin, use this link "http://HOSTNAME:9000/_plugin/HQ". It is protected by simple authentication. The username is modc08 and the password is the f-word we use in mytardis. For the production server, we can also set up firewall rules t

[2015-04-27 01:38] franksc commented on #66
:+1:

[2015-04-27 01:38] #66 closed, assigned to shundezhang

[2015-04-27 02:22] #52 closed, assigned to Li-ReDBox

[2015-04-27 07:24] Li-ReDBox commented on #61
I did a bit work followed suggestions from @craigpatten, I created a _"cleaner"_ settings.py which is in object store: settings_cleaning.py.enc. This is referenced as: [SPECIAL_SETTINGS_URL](https://github.com/modc08/nectar-shell/blob/9d9d9be283395f707f8e0ab6767a9b7e27dbe76d/sub/mytardis-prep/mytardis-prep.sh#L34). It is also used in [fullstack-gunicorn](https://github.com/modc08/nectar-shell/blob

[2015-04-27 23:52] #65 closed, assigned to shundezhang

[2015-04-28 01:12] franksc opened #68 "Clean up MyTardis settings.py customisation"
The [nectar-shell deployment method](https://github.com/modc08/nectar-shell/blob/master/sub/mytardis-prep/install.sh) does a lot of `sed`'ing to customise various options in a MyTardis settings.py . We should probably do this more cleanly and/or bake some non-dynamic settings (e.g. SITE_TITLE, DEFAULT_INSTITUTION) into this settings.py .

Work already in progress cf. https://github.com/modc08/modc

[2015-04-28 01:13] franksc commented on #61
@Li-ReDBox Moved cleaning up settings.py customisation into #68

[2015-04-28 01:35] franksc commented on #61
Closing this as mytardis modc08 and nectar-shell fullstack-gunicorn set up MyTardis settings.py and nginx+gunicorn config for production readiness.

[2015-04-28 01:35] #61 closed, assigned to craigpatten

[2015-04-28 03:36] shundezhang commented on #51
Test1: File size 1.1GB.
Download URL: http://vm-modc08-20150427-102852.modc08.ersa.edu.au/api/v1/dataset_file/2/download
Clients: six m1.small cloud instances in SA zone. Server is also a m1.small instance in SA zone.
six concurrent single file downloads (running on 6 VMs): 'top' shows each gunicorn process uses 13% CPU and 1.5% RAM.
All finished in ~7 minutes.
Speed: ~10MB/s

Test2: Download the

[2015-04-28 03:38] Li-ReDBox commented on #68
What I have been doing was to move items listed in the first comment of this issue to a settings.py. Current version is settings_cleaning.py.enc in the object store. You can see the differences:

[code]

##No more sed'ed
1.  search settings
2.  database settings
3. Common settings: title, timezone, etc
4. Is it a good idea to move [security_key](https://github.com/modc08/nectar-shell/blob/check_se

[2015-04-28 06:16] #67 closed, assigned to franksc

[2015-04-28 07:07] shundezhang commented on #51
I also tried an experiment with 3G data files and observed similar behaviour as downloading 1G data file.
![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2015-04-28 08:02] franksc commented on #51
Arbitrary benchmarking: I tried wget'ing the 1.1GB test file from my desk, deep within the Barr Smith library and on the slightly flaky UofA wifi, and managed an average speed of 2.14 MB/s.

[2015-04-30 04:54] shundezhang opened #69 "Change 'experiment' to 'study' in search index"
suggested by @franksc

[2015-04-30 05:28] shundezhang commented on #69
@franksc Fixed in modc08/mytardis@af160db. A quick test seems to work fine: http://vm-index-name-ch-20150430-142228.modc08.ersa.edu.au/

[2015-05-04 01:37] franksc commented on #69
:+1:

[2015-05-04 01:37] #69 closed, assigned to shundezhang

[2015-05-05 01:10] franksc commented on #51
I guess the next question is what, if any, conclusions can we draw from this performance testing e.g. should we bump to an m1.medium NeCTAR VM and double/increase the number of Gunicorn workers to handle more concurrent users?

[2015-05-05 04:03] franksc commented on #63
I believe the OAGR settings.py needs to be updated to use the 'read-only access to bulk data' credentials

[2015-05-07 00:06] franksc commented on #60
Jimmy reports ingest stuff installed on ACAD's RDSI box, eRSA have made its Python dependencies available, and test ingest worked.

[2015-05-07 00:06] #60 closed, assigned to franksc

[2015-05-08 05:51] franksc opened #70 "Search index study_author not updating as expected"
The `study_author` search index indexes the authors of each experiment/study. It seems while changes to an experiment title, publication year etc are reindexed pretty much straight away, this author names index is only being populated for an experiment when its status changes from private to public.

@shundezhang advises a manual reindex from the command line sees `study_author` populated/reindexe

[2015-05-08 05:53] franksc commented on #45
Custom About and Help pages were done on branch frontend-content, now merged into modc08. The Help page still needs content written.

[2015-05-11 07:56] shundezhang commented on #70
This is how an experiment is saved:
- remove all existing authors
- save experiment (into experiment table)
- save authors (into author table)

reindex happens in step 2, where no authors exist. That's why authors are not indexed. (Actually the author index is cleared out every time the experiment is saved.)

[2015-05-11 16:05] craigpatten commented on #62
[ pinged @franksc over email ]

[2015-05-12 01:55] franksc commented on #59
@craigpatten MyTardis component architecture diagram might be a decent starting point: http://mytardis.readthedocs.org/en/develop/architecture.html

[2015-05-12 02:41] franksc commented on #70
Editing authors in an experiment sees study_author updated/reindexed straight away.

Also, creating a new experiment sees its authors indexed into study_author straight away.

:+1:

[2015-05-12 02:41] #70 closed, assigned to shundezhang

[2015-05-12 05:16] franksc opened #71 "Source index map not initially functional on Firefox"
With Firefox 37.0.2 on OS X 10.10.2, using vm-modc08-20150428-143026 and when logged in as adminstrator, the Source index view (/apps/acad/source/) displays the 'world map' weirdly, and the zoom/in buttons don't do anything nor can the map be scrolled:

![screen shot 2015-05-12 at 14 43 39](https://cloud.githubusercontent.com/assets/8837821/7580494/519d301a-f8b5-11e4-8f07-58cb4c31ae12.png)

Howeve

[2015-05-13 02:54] franksc opened #72 "Dataset view should display large number of pipelines better"
The current custom dataset view puts each pipeline (a block of metadata from ADAD models source, sample etc) in a separate div, and uses [Bootstrap navigation tabs](http://getbootstrap.com/components/#nav-tabs) to switch (show/hide) between them.

If you have more tabs than can fit horizontally across the page/column, it looks weird:

![screen shot 2015-05-13 at 11 42 39](https://cloud.githubuserc

[2015-05-13 03:21] millercathy commented on #72
Great work @franksc. This looks much neater. @craigpatten I'm happy with this unless you see any other possibilities? Cheers.

[2015-05-13 04:25] franksc commented on #71
Have been unable to replicate this issue in any environment (even same OS/browser combo) other than mine. Will get a broader group to test this as part of UAT and reopen if they encounter this issue.

[2015-05-13 04:25] #71 closed, assigned to shundezhang

[2015-05-14 01:19] franksc opened #73 "Search results page with many results has mangled footer"
If search results page has more than a few results (can't pin down the number unfortunately), the global footer ('Powered by MyTardis etc') gets included in the search results block:

![screen shot 2015-05-14 at 10 45 46](https://cloud.githubusercontent.com/assets/8837821/7624358/6b640d58-fa26-11e4-89ea-2cc871908eef.png)

Maybe a `<div>` is not being closed somewhere?

[2015-05-14 03:42] franksc opened #74 "Advanced search page URL fixup"
At present the advanced search page is accessible via URL [somehostname]/apps/acad/search/ . For consistency with other URLs it is desirable for advanced search to be accessible via [somehostname]/search/ , and for this to be the URL in the navbar constructed by Django for `{% url 'tardis.apps.acad.views.search_source' %}`.

So:
- [somehostname]/search/ = advanced search page
- [somehostname]/sear

[2015-05-14 05:06] franksc commented on #64
The problem here appears to be calling the update_doi() method in ands_doi.py, which is similar to existing methods but posts its rendered DataCite XML to Cite My Data's 'update this DOI' endpoint. I believe this method works as expected.

The 'special' behaviour we want: if in the rights/sharing popup we are moving from public (metadata only) to public (everything) and the experiment has a DOI, w

[2015-05-14 07:39] Li-ReDBox commented on #64
@franksc, I yet find any clue by just looking at commits you listed in this issue. Which branch should I look at? Do you think if it is possible with threading?

[2015-05-14 07:45] franksc commented on #64
@Li-ReDBox This was done on branch doi-update https://github.com/modc08/mytardis/commits/doi-update

You raise a good point that maybe it was use of gunicorn gevent/asynchronous workers that was messing this up – I will do some testing and update this issue

[2015-05-14 07:57] Li-ReDBox commented on #64
@franksc, sounds good

[2015-05-15 03:43] franksc opened #75 "OAGR does not restart after VM restart"
It would appear that if an OAGR VM is shut down and restarted in NeCTAR, this initiates the https://github.com/modc08/nectar-shell build process again and it fails when trying to [`git clone` the OAGR repository](https://github.com/modc08/nectar-shell/blob/master/sub/mytardis-prep/install.sh#L9) (`fatal: destination path 'mytardis' already exists and is not an empty directory`).

Getting OAGR/MyTa

[2015-05-15 04:38] millercathy opened #76 "Add map to dataset page"
Desired functionality raised by Julien:
Display sources associated with a dataset on map at head of dataset.

[2015-05-15 04:40] millercathy opened #77 "Home page: Add map"
Raised by Julien
Add map of all sources to home page.

[2015-05-15 04:41] millercathy opened #78 "Home page: Add sources timeline"
Raised by Julien
Add timeline to home page with dots representing sources

[2015-05-15 05:21] millercathy opened #79 "Add License to publish metadata only option"
CC-By is assigned when publishing study. This also needs to be an option for publishing metadata only.

[2015-05-15 05:50] millercathy opened #80 "Test 16 - Minting DOI for metadata only - DOI success msg but DOI does not appear"
Hi @Li-ReDBox
I'm trying to mint a DOI for a Study following these steps:
Study exists - Go to Sharing Tab - Change Public Access option - Select Public Metadata Only - Select licence - Select Confirm
The success message appears but no DOI is recorded in the metadata. The DOI does not appear to have been minted.
If you want details of which build I am using, email me. I don't want to put the url i

[2015-05-15 05:55] Li-ReDBox commented on #80
Hi @millercathy,

Not sure if this is related to another open [issue](https://github.com/modc08/modc08/issues/64). If you was running test, it could be in the production setup which probably has some issues around DOI at the moment. @franksc might comment on this to give more information.

[2015-05-15 06:15] millercathy commented on #80
Hi @Li-ReDBox No, it's not related to that issue.
It seems to be an issue with DOIs not minting. Can you please test? See if you can replicate? @franksc will send URL and details via email. Thank you!

[2015-05-15 06:22] millercathy opened #81 "Test 22D - Unable to view list of direct download URLs"
Testing in IE9
Viewing Dataset - select files - Click Show Download URLs button - Download URLs popup does not display.
Checked pop-up blocker - turned pop-up blocker off. Retested. Download URLs do not display.
@shundezhang Can you please see if you can replicate in IE?

[2015-05-18 01:52] franksc commented on #80
From what I could observe over @millercathy's shoulder during testing, after submitting licence options form the experiment showed updated licence and sharing options but DOI was not minted and experiment not locked.

DOI minting and locking of experiment (or dataset) is handled by methods in ands_doi.py . This is initiated by `ensure_doi_exists()` in models/hooks.py, which relies on a Django [`po

[2015-05-18 02:16] Li-ReDBox commented on #80
@franksc, I was going to suggest the same thing. If you check the log, sometimes there are two doi come in at the same time, yet, Experiment instance was not updated with doi. But quite often, there is no trace of doi signal.

Also, in Experiment's save() function, there is a publication function [call](https://github.com/modc08/mytardis/blob/modc08/tardis/tardis_portal/models/experiment.py#L81).

[2015-05-18 07:55] franksc opened #82 "Fix settings.py DOI_BASE_URL"
In MyTardis settings.py, DOI_BASE_URL is used in constructing a resolution URL for a resource for which a DOI is being minted – 'http://' + hostname + '/path/to/resource/' = resolution URL.

At present 'hostname' is determined using `os.getenv("HOSTNAME")`, which only works if environment from which the MyTardis web server process was launched has set HOSTNAME – hence the preceding `HOSTNAME="`hos

[2015-05-18 08:00] franksc commented on #72
ACAD have okayed this; merged into modc08 as part of modc08/mytardis@27d646c531ee29b0e360e1758a52a7c6f4a59257

[2015-05-18 08:00] #72 closed, assigned to franksc

[2015-05-18 22:44] franksc opened #83 "Production OAGR settings.py"
An OAGR build designated as being for production/real-world use, that grabs the oagr.mod08.ersa.edu.au domain, will need some special values in its MyTardis settings.py:
- DOI_BASE_URL = **http://oagr.org.au/** (cf. #82)
- Cite My Data credentials for real DOI minting (cf. #55)
- ALLOWED_HOSTS to include oagr.modc08.ersa.edu.au and **oagr.org.au**
- Possibly we only want the production build to be

[2015-05-19 00:10] millercathy commented on #81
I'll test this again....

[2015-05-19 00:10] Li-ReDBox commented on #80
A branch has  been create for tackling this problem. Basically, signal were not sent or received sometimes in production setting which gives a false impression DOI has been minted. This [commit](https://github.com/modc08/mytardis/commit/3ec1bcf075be5fe0ee92ec8d211ac543e49ff1a6) removed the signal sending and moved minting into Experiment save function.

Also there is a very rough [busy wheel displ

[2015-05-19 00:12] shundezhang commented on #81
@millercathy Sorry we had some network and nectar issue in the last few days and I haven't been able to test this. I'll do it today.

[2015-05-19 00:20] millercathy commented on #81
No worries @shundezhang I will test again also in IE11
This is fairly low priority; #74 and #73 are more important

[2015-05-19 02:26] shundezhang commented on #81
I did some tests and only IE 9 works. Any version earlier than that is incompatible with Javascripts used in Mytardis. IE 10 and 11 should work in theory. Maybe we should tell the users to use IE 9 or newer versions.

[2015-05-19 05:27] shundezhang commented on #81
This is caused by class 'fade'. Here is the issue: https://github.com/twbs/bootstrap/issues/3672

Obviously it has been fixed in the newer version of bootstrap. The modal dialog example in bootstrap official website works well. The latest version of bootstrap is 3.3.4 but the version is mytardis is 2.0.4 which is really old. It is a lot of work to migrate from 2.x to 3.0 since bootstrap 3.0 is NOT

[2015-05-19 06:19] millercathy commented on #81
Thanks @shundezhang
Over to @franksc for closing

[2015-05-19 06:51] franksc commented on #74
:+1:

[2015-05-19 06:51] #74 closed, assigned to shundezhang

[2015-05-19 07:01] franksc commented on #73
Appears to be fixed. :+1:

[2015-05-19 07:01] #73 closed, assigned to shundezhang

[2015-05-19 07:06] franksc commented on #81
Workaround seems reasonable.

Friends Don't Let Friends Use Internet Explorer

[2015-05-19 07:06] #81 closed, assigned to franksc

[2015-05-20 00:59] franksc commented on #80
@Li-ReDBox and I have tested these changes and have been unable to reproduce this error.

Assuming the root issue was the Experiment post-save signal not being sent or received in some instances, moving the DOI minting call into Experiment.save() should have worked around it.

[2015-05-20 00:59] #80 closed, assigned to Li-ReDBox

[2015-05-21 05:50] franksc commented on #64
This is the behaviour we want:

Change experiment from private -> public (everything) – call get_or_mint_doi() to mint and save DOI.

Change experiment from private -> public (metadata) – call get_or_mint_doi() to mint and save DOI.

Change experiment from public (metadata) -> public (everything) [it already has a DOI at this point] – call update_doi() to render DataCite metadata again and POST to

[2015-05-21 06:00] franksc opened #84 "Search index not indexing non-human or neandertal sources"
Testing with real data on vm-schema-1-5-20150520-132807 has found Elasticsearch is not indexing sources with organism other than 9606/human and 63221/neanderthal.

@shundezhang is on the case

[2015-05-21 06:57] franksc commented on #84
:+1:

[2015-05-21 06:57] #84 closed, assigned to shundezhang

[2015-05-21 07:34] franksc opened #85 "Search synonym Neanderthal for Neandertal"
In OAGR metadata we are using the spelling 'Neandertal' for [these guys](http://en.wikipedia.org/wiki/Neanderthal). However, many end users will probably use the alternate spelling 'Neanderthal' in querying, and this should retrieve the same results.

Can we use Elasticsearch [synonyms](https://www.elastic.co/guide/en/elasticsearch/guide/current/synonyms.html) so search term 'Neanderthal' is treat

[2015-05-22 01:41] millercathy commented on #63
Hi @craigpatten Can we wrap this up by Monday 25/5 for build on Tuesday 26/5? Thanks

[2015-05-22 01:41] millercathy commented on #83
Hi @craigpatten Can we wrap this up by Monday 25/5 for build on Tuesday 26/5? Thanks

[2015-05-22 02:57] craigpatten commented on #63
@millercathy yup

[2015-05-22 02:57] craigpatten commented on #83
@millercathy yup

[2015-05-22 04:37] shundezhang commented on #85
@franksc Just want to clarify the use case. Do OAGR always use the correct spelling 'Neandertal'? If yes, in the index there is only 'Neandertal'. I think Elasticsearch synonyms takes effect when the index is built: it will index a word and its synonyms into a single form. However this is not our case. If we want to return 'Neandertal' when users spell it differently, the easier way is to replace

[2015-05-22 04:52] millercathy commented on #85
@shundezhang your summary sounds correct to me

[2015-05-22 05:10] franksc commented on #85
The record in ACAD Organism table will have common name (Organism.common) 'Neandertal' – we use the Genbank common name from [NCBI taxonomy record](http://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=63221).

However it is possible metadata in other places, such as Experiment.description, will use 'Neanderthal'. (I think ACAD tend to use/prefer 'Neandertal' spelling, but don't quote me on t

[2015-05-25 01:08] Li-ReDBox commented on #64
@franksc, if I understood the question correctly, we can avoid calling undate_doi() when go from private to public by checking update_fields to identify if it is called by ands_doi after successfully minted a doi to lock an experiment. If it is just locking, do not call mint_doi(). Below is my debugging code which is different to the [commit](https://github.com/modc08/mytardis/commit/4b5c563e98a0c

[2015-05-25 02:13] millercathy commented on #51
@craigpatten Can we close this today? We just need one line summary from you. Thanks!

[2015-05-25 02:14] #55 closed, assigned to millercathy

[2015-05-25 02:14] millercathy commented on #62
@craigpatten Can we close this?

[2015-05-25 02:17] millercathy commented on #79
Decided to disregard - not raised in UAT
@franksc please explain in FAQs

[2015-05-25 02:18] #79 closed, assigned to franksc

[2015-05-25 07:21] craigpatten commented on #75
Fixed.

[2015-05-25 07:21] #75 closed, assigned to craigpatten

[2015-05-25 07:21] craigpatten commented on #63
Fixed.

[2015-05-25 07:21] #63 closed, assigned to craigpatten

[2015-05-25 07:25] craigpatten commented on #83
[settings.py](https://github.com/modc08/nectar-shell/blob/master/sub/mytardis-prep/settings.py) is now a jinja2 template in GitHub, parameterised by [environment variables](https://github.com/modc08/nectar-shell/blob/master/user-data.sh) during installation.

[2015-05-25 07:27] craigpatten commented on #83
The default build coming out of slack (minus some backup/restore functionality which is still being merged in) is now production-ready.

[2015-05-25 07:27] #83 closed, assigned to craigpatten

[2015-05-25 07:38] #68 closed, assigned to craigpatten

[2015-05-25 07:40] craigpatten commented on #62
oagr.org.au is managed dynamically — an instance named X will claim X.oagr.org.au. If X == `www` then it's production. Dev/test instances can be called anything other than `www`.

[2015-05-25 07:40] #62 closed, assigned to craigpatten

[2015-05-25 07:50] craigpatten commented on #51
Experience with various configurations of OAGR location and client location have shown that the system can produce acceptable streaming performance even when the participants (client, app, object store) are widely spread out. If CPU is shown to be a limiting factor in production then scaling up to larger instances is easy. Scaling horizontally would require more work.

[2015-05-25 07:50] #51 closed, assigned to craigpatten

[2015-05-25 07:51] craigpatten commented on #82
The base DOI URL is now part of the `settings.py` parameterisation.

[2015-05-25 07:51] #82 closed, assigned to craigpatten

[2015-05-25 09:56] franksc commented on #85
Done with https://github.com/modc08/mytardis/pull/10 and modc08/nectar-shell@4990394b8adf084fa939fa0fe362110d69a19883, modc08/nectar-shell@13a44770ca6a116fbdff7525ab82c1bea0d8f7a2 and modc08/nectar-shell@ea98a18cbfcddbde3a47baaac4d3fd14bc355382

[2015-05-25 09:56] #85 closed, assigned to shundezhang

[2015-05-26 00:00] millercathy commented on #77
Done by @franksc

[2015-05-26 00:00] #77 closed, assigned to millercathy

[2015-05-26 04:13] franksc commented on #64
@Li-ReDBox have tested and this appears to work.

Of course this is the approach I tried but it didn't work for me ... :angry:

[2015-05-26 04:13] #64 closed, assigned to Li-ReDBox

[2015-05-26 22:43] franksc commented on #46
Done as part of https://github.com/modc08/mytardis/pull/11

[2015-05-26 22:43] #46 closed, assigned to franksc

[2015-05-26 22:44] franksc commented on #47
Done as part of https://github.com/modc08/mytardis/pull/11

We should maybe change favicon, per above?

[2015-05-26 23:24] millercathy commented on #47
Happy for you to change favicon if time permits @franksc

[2015-05-27 23:58] franksc commented on #47
No time to develop new favicon so have just commented this stuff out: modc08/mytardis@f3f657ccdfa1651caba2795069b57eb27b9841ea

Maybe we can revisit at a later date. Some URLs for future reference:
https://github.com/audreyr/favicon-cheat-sheet
http://stackoverflow.com/questions/4014823/does-a-favicon-have-to-be-32x32-or-16x16

[2015-05-27 23:58] #47 closed, assigned to franksc

[2015-05-28 01:00] franksc commented on #45
Help page now has some awesome content by @millercathy

[2015-05-28 01:00] #45 closed, assigned to franksc

[2015-06-01 01:59] franksc opened #86 "Genome browser links not opening data files in external genome browser"
Links in OAGR prod to open select file types (.VCF and .BAM) in external UCSC Genome Browser see an error message returned at the UCSC end, and the file is not loaded.

E.g. http://genome.ucsc.edu/cgi-bin/hgTracks?org=human&hgt.customText=https://www.oagr.org.au/api/v1/dataset_file/449/download returns error message 'It appears that you are directly uploading binary data in an unrecognized format

[2015-06-01 02:39] franksc opened #87 "Genome browser links should appear for compressed .vcf and .bam files"
ACAD's real data contains some .vcf and .bam files that have been gzip'd – so filename is foo.vcf.gz rather than foo.vcf.

Because [Datafile.is_genome()](https://github.com/modc08/mytardis/blob/modc08/tardis/tardis_portal/models/datafile.py#L206) only looks for files with extension .vcf or .bam (case insensitive), no buttons to open these files in the external UCSC Genome Browser appear in the OAG

[2015-06-01 02:50] franksc commented on #86
http://genome.ucsc.edu/goldenPath/help/customTrack.html says 'The Genome Browser supports both the HTTP and FTP (passive-only) protocols', so it doesn't support loading content via HTTPS

[2015-06-01 03:09] franksc commented on #86
Attempting to indicate the input file type is BAM with URL http://genome.ucsc.edu/cgi-bin/hgTracks?org=human&hgct_customText=track%20type=bam%20bigDataUrl=https://www.oagr.org.au/api/v1/dataset_file/449/download sees UCSC return a different error message 'Failed to open https://www.oagr.org.au/api/v1/dataset_file/449/download. If you are able to access the URL with your web browser, please try rel

[2015-06-01 04:42] franksc opened #88 "Restore case-insensitive search"
Adding support for synonym searching (cf. #85) has made searching case sensitive – so a query for 'cooper' doesn't return expected results whereas 'Cooper' (case-sensitive match for the indexed metadata) does.

@shundezhang is on the case

[2015-06-01 05:44] Li-ReDBox commented on #87
@franksc, I [commit](https://github.com/modc08/mytardis/commit/90b42e4cf5dfece15d08b1b55daa226dee1e1192)ted a change of above mentioned function. It passed my dummy tests: when correct types present, buttons are shown.

[2015-06-02 01:14] franksc commented on #86
Convincing UCSC Genome Browser to load and display genomic data files stored in OAGR more difficult than we had realised. Link buttons disabled modc08/mytardis@86076d2f670e2df39951232cea611ef218126063

[2015-06-02 01:14] #86 closed, assigned to craigpatten

[2015-06-02 01:15] franksc commented on #87
:+1:

[2015-06-02 01:15] #87 closed, assigned to Li-ReDBox

[2015-06-02 01:19] millercathy commented on #78
Not incorporated - beyond scope of project.

[2015-06-02 01:19] #78 closed, assigned to millercathy

[2015-06-02 01:20] millercathy commented on #76
Not incorporated - beyond scope of project.

[2015-06-02 01:20] #76 closed, assigned to millercathy

[2015-06-02 01:21] millercathy commented on #59
Thanks @craigpatten for draft doco discussed this morning. Some additions and revisions required as per communication from @franksc

[2015-06-02 01:26] franksc commented on #88
Searching re-tested as result of modc08/nectar-shell@cb1de93c2d6d0d8765c43de9158f5f5753ba7c1f and appears to work as before (expected results retrieved / nothing weird), including desired synonym searching.

[2015-06-02 01:26] #88 closed, assigned to shundezhang

[2015-06-02 06:06] franksc opened #89 "Optimisation for source-heavy views"
@craigpatten raised the noticeably slow loading of OAGR views which contain many sources – namely the Source index page and the OAGR home page, which loads all sources to populate them on the map. Some testing with [django-debug-toolbar](https://github.com/django-debug-toolbar/django-debug-toolbar) shows a horrifying number of individual SQL queries for these views.

The main pain point seems to b

[2015-06-02 06:11] franksc commented on #89
There may also be some applicable wisdom in Django docs [Database access optimization](https://docs.djangoproject.com/en/1.5/topics/db/optimization/) guide

[2015-06-02 06:24] Li-ReDBox commented on #89
@franksc, in terms of individual SQL queries, [here](https://docs.djangoproject.com/en/1.5/ref/models/querysets/#when-querysets-are-evaluated) says "Internally, a QuerySet can be constructed, filtered, sliced, and generally passed around without actually hitting the database. No database activity actually occurs until you do something to evaluate the queryset.". Does Source.get_database behaviour

[2015-06-03 00:29] shundezhang commented on #88
... and this commit modc08/mytardis@c23281c9f0ddad071d713ca99f95998a62a4bdd0

[2015-06-03 01:55] shundezhang commented on #89
It is a lot faster now. Pls see https://query-test.oagr.org.au/

and the debug toolbar adds some overhead. Disabling the debug toobar is somewhat faster than enabling it.

[2015-06-04 00:08] franksc commented on #89
Now much faster with https://github.com/modc08/mytardis/commit/709aa7846a2ef91f3ee41ec7fb75137b339f0847. :+1:

[2015-06-04 00:08] #89 closed, assigned to franksc

[2015-06-04 04:39] franksc opened #90 "Add users through frontend"
MyTardis comes out of the box with functionality to to add new users through a frontend form (/accounts/register/), using [django-registration](https://github.com/macropin/django-registration). However:
1. This functionality is configured to use django-registration's ['default' backend](https://django-registration.readthedocs.org/en/latest/default-backend.html), which implements a two-phase workfl

[2015-06-22 10:46] #59 closed, assigned to craigpatten